.block.blockTestimonial {
  background-color: var(--backgroundColor, transparent);
}

.blockTestimonial {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --textFontSize: var(--xsTextFontSize, 1rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockTestimonial__content-title {
  font-family: var(--titleFontFamily);
  font-size: var(--titleFontSize);
  color: var(--titleColor, var(--bt--titles-color, var(--bt--titles-color, var(--bt--primary))));
}
.blockTestimonial__name {
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: calc(var(--textFontSize) * 1.125);
  color: var(--titleColor, var(--bt--titles-color, var(--bt--titles-color, var(--bt--primary))));
}
.blockTestimonial__organization {
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: calc(var(--textFontSize) * 0.825);
  color: var(--titleColor, var(--bt--titles-color, var(--bt--titles-color, var(--bt--primary))));
}
.blockTestimonial__text {
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: var(--textFontSize);
  color: var(--textColor, var(--bt--body-color));
}
