.block.blockContactInfo {
  background-color: var(--backgroundColor, transparent);
}

.blockContactInfo {
  --textFontSize: var(--xsTextFontSize, 1rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  color: var(--textColor, var(--bt--body-color));
}
.blockContactInfo__phones {
  font-size: var(--textFontSize);
}
.blockContactInfo .multifieldContactInfoPhone__contact-info-phone-type {
  font-size: calc(var(--textFontSize) * 1.1);
  font-weight: bold;
}
.blockContactInfo__phones a {
  color: var(--linkColor, var(--bt--link-color, var(--bt--link-color)));
}
.blockContactInfo__address-label {
  font-size: calc(var(--textFontSize) * 1.1);
}
.blockContactInfo__address {
  font-size: var(--textFontSize);
}
