.block.blockSectionTitle {
  background-color: var(--backgroundColor, transparent);
}

.blockSectionTitle {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --captionFontSize: var(--xsCaptionFontSize, 1.2rem);
  --maxWidth: var(--xsMaxWidth);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
  box-sizing: border-box;
}
.blockSectionTitle__content-title {
  color: var(--titleColor, var(--bt--titles-color, var(--bt--titles-color, var(--bt--primary))));
  font-family: var(--titleFontFamily);
  font-size: var(--titleFontSize, 1.8rem);
}
.blockSectionTitle__caption {
  color: var(--captionColor, var(--bt--body-color, var(--bt--secondary)));
  font-family: var(--captionFontFamily);
  font-size: var(--captionFontSize, 1.2rem);
}
