.block.blockSocialProfiles {
  background-color: var(--backgroundColor, transparent);
}

.blockSocialProfiles {
  --textFontSize: var(--xsTextFontSize, 1rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
  font-size: var(--textFontSize);
  font-family: var(--textFontFamily), var(--bt--body-font-family);
  color: var(--textColor, var(--bt--body-color));
}
