.localTasks {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80vw;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.localTasks .nav.nav-tabs {
  --bt--nav-tabs-link-active-color: var(--bt--primary);
  --bt--nav-tabs-link-active-bg: var(--bt--gray-300);
}
