.block.blockImageLink--default {
  --maxWidth: var(--xsMaxWidth, 310px) ;
}

.blockImageLink--default {
  max-width: var(--maxWidth);
}
.blockImageLink--default__image {
  overflow: clip;
}
.blockImageLink--default img {
  width: calc(var(--maxWidth) - (var(--paddingLeft) + var(--paddingRight)));
  height: 100%;
}
