.block.blockImageLink {
  background-color: var(--backgroundColor, transparent);
}

.blockImageLink {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --captionFontSize: var(--xsCaptionFontSize, 1.2rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockImageLink__content-title {
  font-family: var(--titleFontFamily);
  font-size: var(--titleFontSize);
  color: var(--titleColor, var(--bt--titles-color, var(--bt--titles-color, var(--bt--primary))));
}
.blockImageLink__caption {
  font-family: var(--captionFontFamily);
  font-size: var(--captionFontSize);
  color: var(--captionColor, var(--bt--body-color, var(--bt--secondary)));
}
