.block.blockFieldBlock--blog-author {
  --maxWidth: var(--xsMaxWidth, max-content);
  --marginLeft:var(--xsMarginLeft, 0px);
  --marginTop: var(--xsMarginTop, 0px);
  --marginRight: var(--xsMarginRight, 0px);
  --marginBottom: var(--xsMarginBottom, 0px);
  --paddingLeft: var(--xsPaddingLeft, 1rem);
  --paddingTop: var(--xsPaddingTop, 0px);
  --paddingRight: var(--xsPaddingRight, 1rem);
  --paddingBottom: var(--xsPaddingBottom, 0px);
  background-color: transparent;
}

.blockFieldBlock--blog-author {
  --maxWidth: var(--xsMaxWidth, max-content);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
  max-width: var(--maxWidth);
}
.blockFieldBlock--blog-author .nodeBlogPost__author {
  margin-left: var(--marginLeft);
  margin-top: var(--marginTop);
  margin-right: var(--marginRight);
  margin-bottom: var(--marginBottom);
  padding-left: var(--paddingLeft);
  padding-top: var(--paddingTop);
  padding-right: var(--paddingRight);
  padding-bottom: var(--paddingBottom);
}
