@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}
.progress {
  --bt--progress-height: 1rem;
  --bt--progress-font-size: 0.9rem;
  --bt--progress-bg: #e9ecef;
  --bt--progress-border-radius: 0.375rem;
  --bt--progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bt--progress-bar-color: #fff;
  --bt--progress-bar-bg: #272726;
  --bt--progress-bar-transition: width 0.6s ease;
  display: flex;
  height: var(--bt--progress-height);
  overflow: hidden;
  font-size: var(--bt--progress-font-size);
  background-color: var(--bt--progress-bg);
  border-radius: var(--bt--progress-border-radius);
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--bt--progress-bar-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--bt--progress-bar-bg);
  transition: var(--bt--progress-bar-transition);
}
@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: var(--bt--progress-height) var(--bt--progress-height);
}

.progress-bar-animated {
  animation: 1s linear infinite progress-bar-stripes;
}
@media (prefers-reduced-motion: reduce) {
  .progress-bar-animated {
    animation: none;
  }
}
