.accordion {
  --bt--accordion-color: #000;
  --bt--accordion-bg: #fff;
  --bt--accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bt--accordion-border-color: var(--bt--border-color);
  --bt--accordion-border-width: 1px;
  --bt--accordion-border-radius: 0.375rem;
  --bt--accordion-inner-border-radius: calc(0.375rem - 1px);
  --bt--accordion-btn-padding-x: 1.25rem;
  --bt--accordion-btn-padding-y: 1rem;
  --bt--accordion-btn-color: var(--bt--body-color);
  --bt--accordion-btn-bg: var(--bt--accordion-bg);
  --bt--accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bt--body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bt--accordion-btn-icon-width: 1.25rem;
  --bt--accordion-btn-icon-transform: rotate(-180deg);
  --bt--accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bt--accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23232322'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bt--accordion-btn-focus-border-color: #fdcf80;
  --bt--accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(251, 159, 0, 0.25);
  --bt--accordion-body-padding-x: 1.25rem;
  --bt--accordion-body-padding-y: 1rem;
  --bt--accordion-active-color: #232322;
  --bt--accordion-active-bg: #fff5e6;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bt--accordion-btn-padding-y) var(--bt--accordion-btn-padding-x);
  font-size: 1.2rem;
  color: var(--bt--accordion-btn-color);
  text-align: left;
  background-color: var(--bt--accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bt--accordion-transition);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;
  }
}
.accordion-button:not(.collapsed) {
  color: var(--bt--accordion-active-color);
  background-color: var(--bt--accordion-active-bg);
  box-shadow: inset 0 calc(var(--bt--accordion-border-width) * -1) 0 var(--bt--accordion-border-color);
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bt--accordion-btn-active-icon);
  transform: var(--bt--accordion-btn-icon-transform);
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--bt--accordion-btn-icon-width);
  height: var(--bt--accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--bt--accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bt--accordion-btn-icon-width);
  transition: var(--bt--accordion-btn-icon-transition);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none;
  }
}
.accordion-button:hover {
  z-index: 2;
}
.accordion-button:focus {
  z-index: 3;
  border-color: var(--bt--accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: var(--bt--accordion-btn-focus-box-shadow);
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  color: var(--bt--accordion-color);
  background-color: var(--bt--accordion-bg);
  border: var(--bt--accordion-border-width) solid var(--bt--accordion-border-color);
}
.accordion-item:first-of-type {
  border-top-left-radius: var(--bt--accordion-border-radius);
  border-top-right-radius: var(--bt--accordion-border-radius);
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: var(--bt--accordion-inner-border-radius);
  border-top-right-radius: var(--bt--accordion-inner-border-radius);
}
.accordion-item:not(:first-of-type) {
  border-top: 0;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: var(--bt--accordion-border-radius);
  border-bottom-left-radius: var(--bt--accordion-border-radius);
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: var(--bt--accordion-inner-border-radius);
  border-bottom-left-radius: var(--bt--accordion-inner-border-radius);
}
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: var(--bt--accordion-border-radius);
  border-bottom-left-radius: var(--bt--accordion-border-radius);
}

.accordion-body {
  padding: var(--bt--accordion-body-padding-y) var(--bt--accordion-body-padding-x);
}

.accordion-flush .accordion-collapse {
  border-width: 0;
}
.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.accordion-flush .accordion-item:first-child {
  border-top: 0;
}
.accordion-flush .accordion-item:last-child {
  border-bottom: 0;
}
.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
}
