.siteBranding--vertical_inverted {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.siteBranding--vertical_inverted .siteBranding__logo {
  align-self: center;
  order: 3;
}
.siteBranding--vertical_inverted .siteBranding__logo img {
  width: 100%;
}
.siteBranding--vertical_inverted .siteBranding__name {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  align-self: flex-end;
  text-align: center;
  order: 1;
  font-weight: bold;
}
.siteBranding--vertical_inverted .siteBranding__slogan {
  text-align: center;
  order: 2;
  margin-top: calc((var(--sloganFontSize, 0.8rem) - 0.2rem) * -1);
}
