.siteBranding--horizontal_inverted {
  display: grid;
  grid-template-columns: 1fr auto;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.siteBranding--horizontal_inverted .siteBranding__logo {
  grid-column: 2;
  grid-row: 1/3;
  align-self: center;
}
.siteBranding--horizontal_inverted .siteBranding__logo img {
  width: 100%;
}
.siteBranding--horizontal_inverted .siteBranding__name {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-end;
  text-align: right;
  font-weight: bold;
}
.siteBranding--horizontal_inverted .siteBranding__slogan {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
  margin-top: calc((var(--sloganFontSize, 0.8rem) - 0.2rem) * -1);
}
