.siteBranding {
  --nameFontSize: var(--xsNameFontSize, 1.5rem);
  --sloganFontSize: var(--xsSloganFontSize, 0.8rem);
  --maxWidth: var(--xsMaxWidth);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
  min-width: var(--logoSize, 72px);
  max-width: var(--maxWidth);
}
.siteBranding__logo {
  width: var(--logoSize, 72px);
}
.siteBranding__logo img {
  width: 100%;
}
.siteBranding__name {
  font-size: var(--nameFontSize);
  font-family: var(--nameFontFamily, var(--bt--body-font-family));
}
.siteBranding__name a {
  color: var(--nameColor, var(--bt--titles-color, var(--bt--primary)));
}
.siteBranding__slogan {
  color: var(--sloganColor, var(--bt--accent, #FB9F00));
  font-size: var(--sloganFontSize);
  font-family: var(--sloganFontFamily, var(--bt--body-font-family));
}
