.siteBranding--horizontal {
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: var(--gap);
       column-gap: var(--gap);
}
.siteBranding--horizontal .siteBranding__logo {
  grid-column: 1;
  grid-row: 1/3;
  align-self: center;
}
.siteBranding--horizontal .siteBranding__logo img {
  width: 100%;
}
.siteBranding--horizontal .siteBranding__name {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
  font-weight: bold;
}
.siteBranding--horizontal .siteBranding__slogan {
  grid-column: 2;
  grid-row: 2;
  margin-top: calc((var(--sloganFontSize, 0.8rem) - 0.2rem) * -1);
}
