{% extends "@Components/blocks/block.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 * - configuration: Block configurations.
 *
 * @ingroup themeable
 */
#}
{% set styles = configuration.block_style %}
{% 
  set style_vars = [
    styles.background_color_select != 'default' and styles.background_color_select != 'customColor' ? '--backgroundColor: var(--bt--' ~ styles.background_color_select ~ ')',
    styles.background_color_select == 'customColor' ? '--backgroundColor: ' ~ styles.background_color_custom,
    styles.animation_option == TRUE  and styles.animation_duration ? '--animationDuration: ' ~ styles.animation_duration : '',
    styles.animation_option == TRUE  and styles.animation_delay ? '--animationDelay: ' ~ styles.animation_delay : '',
    styles.animation_option == TRUE  and styles.animation_count ? '--animationCount: ' ~ styles.animation_count : '',
    styles.animation_option == TRUE  and styles.animation_function and styles.animation_function != 'default' ? '--animationFunction: ' ~ styles.animation_function : '',
    styles.animation_option == TRUE  and styles.animation_fill and styles.animation_fill != 'default' ? '--animationFill: ' ~ styles.animation_fill : '',
    styles.sm_padding_left != 'default' ? '--smPaddingLeft: ' ~ styles.sm_padding_left : '',
    styles.sm_padding_top != 'default' ? '--smPaddingTop: ' ~ styles.sm_padding_top : '',
    styles.sm_padding_right != 'default' ? '--smPaddingRight: ' ~ styles.sm_padding_right : '',
    styles.sm_padding_bottom != 'default' ? '--smPaddingBottom: ' ~ styles.sm_padding_bottom : '',
    styles.md_padding_left != 'default' ? '--mdPaddingLeft: ' ~ styles.md_padding_left : '',
    styles.md_padding_top != 'default' ? '--mdPaddingTop: ' ~ styles.md_padding_top : '',
    styles.md_padding_right != 'default' ? '--mdPaddingRight: ' ~ styles.md_padding_right : '',
    styles.md_padding_bottom != 'default' ? '--mdPaddingBottom: ' ~ styles.md_padding_bottom : '',
    styles.lg_padding_left != 'default' ? '--lgPaddingLeft: ' ~ styles.lg_padding_left : '',
    styles.lg_padding_top != 'default' ? '--lgPaddingTop: ' ~ styles.lg_padding_top : '',
    styles.lg_padding_right != 'default' ? '--lgPaddingRight: ' ~ styles.lg_padding_right : '',
    styles.lg_padding_bottom != 'default' ? '--lgPaddingBottom: ' ~ styles.lg_padding_bottom : '',
    styles.xl_padding_left != 'default' ? '--xlPaddingLeft: ' ~ styles.xl_padding_left : '',
    styles.xl_padding_top != 'default' ? '--xlPaddingTop: ' ~ styles.xl_padding_top : '',
    styles.xl_padding_right != 'default' ? '--xlPaddingRight: ' ~ styles.xl_padding_right : '',
    styles.xl_padding_bottom != 'default' ? '--xlPaddingBottom: ' ~ styles.xl_padding_bottom : '',
    styles.xxl_padding_left != 'default' ? '--xxlPaddingLeft: ' ~ styles.xxl_padding_left : '',
    styles.xxl_padding_top != 'default' ? '--xxlPaddingTop: ' ~ styles.xxl_padding_top : '',
    styles.xxl_padding_right != 'default' ? '--xxlPaddingRight: ' ~ styles.xxl_padding_right : '',
    styles.xxl_padding_bottom != 'default' ? '--xxlPaddingBottom: ' ~ styles.xxl_padding_bottom : '',
    styles.sm_block_align != 'default' ? '--smAlignSelf: ' ~ styles.sm_block_align : '',
    styles.md_block_align != 'default' ? '--mdAlignSelf: ' ~ styles.md_block_align : '',
    styles.lg_block_align != 'default' ? '--lgAlignSelf: ' ~ styles.lg_block_align : '',
    styles.xl_block_align != 'default' ? '--xlAlignSelf: ' ~ styles.xl_block_align : '',
    styles.xxl_block_align != 'default' ? '--xxlAlignSelf: ' ~ styles.xxl_block_align : '',
    styles.sm_text_align != 'default' ? '--smAlignSelf: ' ~ styles.sm_text_align : '',
    styles.md_text_align != 'default' ? '--mdAlignSelf: ' ~ styles.md_text_align : '',
    styles.lg_text_align != 'default' ? '--lgAlignSelf: ' ~ styles.lg_text_align : '',
    styles.xl_text_align != 'default' ? '--xlAlignSelf: ' ~ styles.xl_text_align : '',
    styles.xxl_text_align != 'default' ? '--xxlAlignSelf: ' ~ styles.xxl_text_align : '',
    styles.type is empty ? '--type: horizontal' : '--type: ' ~ styles.type,
    styles.logo_size is empty ? '--logoSize: 24px' : '--logoSize: ' ~ styles.logo_size,
    styles.name_font_size is empty ? '--nameFontSize: 18px' : '--nameFontSize: ' ~ styles.name_font_size,
    styles.slogan_font_size is empty ? '--sloganFontSize: 18px' : '--sloganFontSize: ' ~ styles.slogan_font_size,
  ]|remove_empty
%}

{% 
  set block_classes = [
    'block',
    'siteBranding',
    'siteBranding--' ~ styles.type,
    'navbar-brand',
    styles.animation_option == TRUE and styles.animation_trigger == 'on_scroll' ? 'wow' : '',
    styles.animation_option == TRUE ? styles.animation_type : '',
  ]|remove_empty
%}

{% block content %}
  <div{{ attributes.addClass(block_classes).setAttribute('style', style_vars|join('; ')) }}>
    {% if site_logo %}
      <div class="siteBranding__logo">
        <a href="{{ path('<front>') }}" rel="home">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a>
      </div>  
    {% endif %}
    {% if site_name %}
      <div class="siteBranding__name">
        <a href="{{ path('<front>') }}" rel="home">{{ site_name }}</a>
      </div>  
    {% endif %}

    {% if site_slogan %}
      <div class="siteBranding__slogan">{{ site_slogan }}</div>
    {% endif %}  
  </div>
{% endblock %}
