{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% 
  set navbar_classes = [
    'navbar',
    'navbar-expand-lg',
    theme_settings.classes,
    theme_settings.style,
    home == TRUE ? 'navbar--home' : '',
  ]|remove_empty
%}

{% set inner_container_attribute = create_attribute() %}

{% 
  set inner_container_classes = [
    'container-fluid',
    theme_settings.inner_container_classes,
  ]|remove_empty
%}

{% set toggler_attribute = create_attribute() %}

{% 
  set toggler_classes = [
    'navbarToggler',
    'navbar-toggler',
    theme_settings.toggler_classes,
  ]|remove_empty
%}

{% 
  set region_classes = [
    'region',
    'regionNavbar',
    home == TRUE ? 'regionNavbar--home' : '',
  ]|remove_empty
%}

{% set style_vars = [] %}
{%
  set style_vars = style_vars|merge([
    theme_settings.background_color == 'default' ? '--backgroundColor: transparent' : '',
    theme_settings.background_color == 'customColor' ? '--backgroundColor: ' ~ theme_settings.background_color_custom : '',
    theme_settings.background_color != 'default' and theme_settings.background_color != 'customColor' ? '--backgroundColor: var(--bt--' ~ theme_settings.background_color ~ ')' : '',

    theme_settings.toggler_color == 'default' ? '--togglerColor: transparent',
    theme_settings.toggler_color == 'customColor' ? '--togglerColor: ' ~ theme_settings.toggler_color_custom : '',
    theme_settings.toggler_color != 'default' and theme_settings.toggler_color != 'customColor' ? '--togglerColor: var(--bt--' ~ theme_settings.toggler_color ~ ')' : '',   
    theme_settings.toggler_color_hover == 'default' ? '--togglerColorHover: var(--togglerColor)',
    theme_settings.toggler_color_hover == 'customColor' ? '--togglerColorHover: ' ~ theme_settings.toggler_color_custom_hover,
    theme_settings.toggler_color_hover != 'default' and theme_settings.toggler_color_hover != 'customColor' ? '--togglerColorHover: var(--bt--' ~ theme_settings.toggler_color_hover ~ ')' : '',
    
    theme_settings.justify_content != 'center' ? '--justifyContent: ' ~ theme_settings.justify_content : '',
    theme_settings.align_items != 'center' ? '--alignItems: ' ~ theme_settings.align_items : '',
    theme_settings.height != '' ? '--height: ' ~ theme_settings.height : '',
    theme_settings.container_select == 'full' ? '--paddingX: ' ~ theme_settings.full_select : '',
    theme_settings.container_select == 'box' ? '--width: ' ~ theme_settings.box_select : '',
  ]|remove_empty)
%}

{% if content %}
  <div{{ attributes.addClass(region_classes).setAttribute('style', style_vars|join('; ')) }}>
    <nav id='navbar' role="navigation" aria-labelledby="block-camaleon-main-menu-label" {{ navbar_attributes.addClass(navbar_classes) }}>
      <div{{ inner_container_attribute.addClass(inner_container_classes) }}>
        <button{{ toggler_attribute.addClass(toggler_classes) }} type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbarTogglerIcon navbar-toggler-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="navbarTogglerIcon__svg" fill="none" viewBox="0 0 24 24" stroke="var(--togglerColor, white)">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </span>
        </button>
        {{ content }}
      </div>
    </nav>
  </div>
{% endif %}