{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{{ attach_library('camaleon/bootstrap_buttons') }}
{% include "@Components/buttons/button-secondary.twig" with {
  'attributes': attributes,
  'children': children,
  'theme_settings': theme_settings,
  }
%}
