{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - bundle: The entity bundle of the block content type.
 * - view_mode: The entity view mode.
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('camaleon/block_image_' ~ view_mode) }}
{% if configuration.block_style.animation_option == TRUE %}
  {{ attach_library('camaleon/' ~ configuration.block_style.animation_type) }}
{% endif %}

{% include "@Components/blocks/image/blockImage25vw4-5.twig" with {
  'id': id,
  'bundle': bundle,
  'view_mode': view_mode,
  'plugin_id': plugin_id,
  'label': label,
  'configuration': configuration,
  'content': content,
  'attributes': attributes,
  'title_prefix': title_prefix,
  'title_suffix': title_suffix,
  } 
%}
