.breadcrumbs {
  --breadcrumbsBackground: var(--bt--breadcrumbs-bg, var(--bt--block-bg, #EF3527));
  --breadcrumbsColor: var(--bt--breadcrumbs-color, var(--bt--block-color, #272726));
  --breadcrumbsLinkColor: var(--bt--breadcrumbs-link-color, var(--bt--breadcrumbs-link-color, var(--bt--link-color, var(--bt--link-color))));
  --breadcrumbsLinkHoverColor: var(--bt--breadcrumbs-link-hover-color, var(--bt--breadcrumbs-link-hover-color, var(--bt--link-hover-color, var(--bt--link-hover-color))));
  margin: 0 1rem;
  font-size: 1rem;
}
