{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing secondary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{{ attach_library('camaleon/localTasks') }}

{% include "@Components/navs/local-tasks/localTasks__tabs.twig" with {'primary': primary, 'secondary': secondary} %}
