.nodeArticle--full__title {
  color: var(--bt--article-title-color);
}
.nodeArticle--full__intro {
  color: var(--bt--caption-text-color);
  margin-top: 1.2rem;
}
.nodeArticle--full__intro p {
  margin: 0 1rem;
}
.nodeArticle--full__caption {
  color: var(--bt--intro-text-color);
}
.nodeArticle--full__image {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.nodeArticle--full__image img {
  width: 100%;
  max-height: 600px;
}
