.nodeArticle--teaser-image {
  width: 100%;
  max-width: 280px;
  background-color: var(--backgroundColor);
}
.nodeArticle--teaser-image__title {
  margin: 1rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 2rem;
}
.nodeArticle--teaser-image__title a {
  color: var(--bt--primary);
}
.nodeArticle--teaser-image__intro {
  font-size: 1.2rem;
  color: var(--bt--body-color);
  margin-top: 1.2rem;
}
.nodeArticle--teaser-image__intro p {
  margin: 0 1rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.nodeArticle--teaser-image__caption {
  text-align: center;
  color: var(--bt--secondary);
  font-size: 1.2rem;
}
.nodeArticle--teaser-image__image {
  width: 100%;
  margin: 0 auto;
}
.nodeArticle--teaser-image__image img {
  width: 100%;
}
.nodeArticle--teaser-image__read-more {
  margin: 1rem 0;
  font-size: 1rem;
}
.nodeArticle--teaser-image__read-more a {
  color: var(--bt--link-color);
}
.nodeArticle--teaser-image__read-more a:hover {
  color: var(--bt--link-hover-color);
}

@media (min-width: 576px) {
  .nodeArticle--teaser-image {
    max-width: 350px;
  }
}
@media (min-width: 768px) {
  .nodeArticle--teaser-image {
    max-width: 450px;
  }
}
