.block.blockTitleImage {
  background-color: var(--backgroundColor, transparent);
}

.blockTitleImage {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --captionFontSize: var(--xsCaptionFontSize, 1.2rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockTitleImage__content-title {
  color: var(--titleColor, var(--bt--titles-color, var(--bt--titles-color, var(--bt--primary))));
  font-family: var(--titleFontFamily);
  font-size: var(--titleFontSize);
}
.blockTitleImage__caption {
  color: var(--captionColor, var(--bt--body-color, var(--bt--secondary)));
  font-family: var(--captionFontFamily);
  font-size: var(--captionFontSize);
}
