.block.blockFaq {
  background-color: var(--backgroundColor, transparent);
}

.blockFaq {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --captionFontSize: var(--xsCaptionFontSize, 1.2rem);
  --textFontSize: var(--xsTextFontSize, 1rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockFaq__content-title {
  font-family: var(--titleFontFamily);
  font-size: var(--titleFontSize);
  color: var(--titleColor, var(--bt--titles-color, var(--bt--titles-color, var(--bt--primary))));
}
.blockFaq__caption {
  font-family: var(--captionFontFamily);
  font-size: var(--captionFontSize);
  color: var(--captionColor, var(--bt--body-color, var(--bt--secondary)));
}
.blockFaq__text {
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: var(--textFontSize);
  color: var(--textColor, var(--bt--body-color));
}
.blockFaq__questions {
  --bt--accordion-color: var(--bt--primary);
  --bt--accordion-bg: var(--bt--body-bg);
  --bt--accordion-border-color: var(--bt--border-color);
  --bt--accordion-btn-color: var(--bt--primary);
  --bt--accordion-btn-bg: var(--bt--accordion-bg);
  --bt--accordion-btn-focus-border-color: var(--bt--border-color);
  --bt--accordion-btn-focus-box-shadow: 0 0 0 0.125rem rgba(var(--bt--border-color-rgb));
  --bt--accordion-active-color: var(--bt--primary-600);
  --bt--accordion-active-bg: var(--bt--primary-050);
}
.blockFaq__questions img {
  width: 100%;
}
.blockFaq .accordion-button {
  font-weight: bold;
}
.blockFaq .accordion-collapse {
  padding: 1.5rem;
  padding-bottom: 2.5rem;
  text-align: left;
}
.blockFaq .multifieldFaqItemVideo__video-embed {
  width: 100%;
}
