.block.blockAccordion {
  background-color: var(--backgroundColor);
}

.blockAccordion {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --captionFontSize: var(--xsCaptionFontSize, 1.2rem);
  --textFontSize: var(--xsTextFontSize, 1rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockAccordion__content-title {
  font-family: var(--titleFontFamily, var(--bt--body-font-family));
  font-size: var(--titleFontSize);
  color: var(--titleColor);
}
.blockAccordion__caption {
  font-family: var(--captionFontFamily, var(--bt--body-font-family));
  font-size: var(--captionFontSize);
  color: var(--captionColor);
}
.blockAccordion__text {
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: var(--textFontSize);
  color: var(--textColor);
}
.blockAccordion__accordion-items {
  --bt--accordion-color: var(--bt--primary);
  --bt--accordion-bg: var(--bt--body-bg);
  --bt--accordion-border-color: var(--bt--border-color);
  --bt--accordion-btn-color: var(--bt--primary);
  --bt--accordion-btn-bg: var(--bt--accordion-bg);
  --bt--accordion-btn-focus-border-color: var(--bt--border-color);
  --bt--accordion-btn-focus-box-shadow: 0 0 0 0.125rem rgba(var(--bt--border-color-rgb));
  --bt--accordion-active-color: var(--bt--primary-600);
  --bt--accordion-active-bg: var(--bt--primary-050);
}
.blockAccordion__accordion-items img {
  width: 100%;
}
.blockAccordion .accordion-button {
  font-weight: bold;
}
.blockAccordion .accordion-collapse {
  padding: 1.5rem;
  padding-bottom: 2.5rem;
  text-align: left;
}
.blockAccordion .multifieldAccordionItemVideo__video-embed {
  width: 100%;
}
