.block.blockCta {
  background-color: var(--backgroundColor, transparent);
}

.blockCta {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --captionFontSize: var(--xsCaptionFontSize, 1.2rem);
  --textFontSize: var(--xsTextFontSize, 1rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockCta__content-title {
  font-family: var(--titleFontFamily);
  font-size: var(--titleFontSize);
  color: var(--titleColor, var(--bt--titles-color, var(--bt--titles-color, var(--bt--primary))));
}
.blockCta__caption {
  font-family: var(--captionFontFamily);
  font-size: var(--captionFontSize);
  color: var(--captionColor, var(--bt--body-color, var(--bt--secondary)));
}
.blockCta__text {
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: var(--textFontSize);
  color: var(--textColor, var(--bt--body-color));
}
.blockCta__buttons {
  justify-content: var(--textAlign);
}
.blockCta__button {
  --bt--btn-bg: var(--buttonColor, var(--bt--primary-500));
  --bt--btn-font-size: var(--textFontSize);
  --bt--btn-color: var(--buttonLinkColor, white);
  --bt--btn-border-color: var(--buttonColor, var(--bt--primary-500));
  --bt--btn-hover-bg: var(--buttonColor, var(--bt--primary-500));
  --bt--btn-hover-color: var(--buttonLinkColor, white);
  --bt--btn-hover-border-color: var(--buttonLinkColor, white);
  padding-right: 0px;
  padding-left: var(--btnPaddingLeft, 0px);
}
.blockCta__button a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 1rem;
  padding-left: var(--buttonIcon, 1rem);
  color: var(--buttonLinkColor, white);
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: var(--textFontSize);
}
.blockCta__button-icon {
  z-index: 1;
}
.blockCta__button-icon svg {
  color: var(--buttonLinkColor, white);
}
.blockCta__button-secondary {
  --bt--btn-bg: var(--buttonSecondaryColor, var(--bt--secondary-500));
  --bt--btn-font-size: var(--textFontSize);
  --bt--btn-color: var(--buttonSecondaryLinkColor, white);
  --bt--btn-border-color: var(--buttonSecondaryColor, var(--bt--secondary-500));
  --bt--btn-hover-bg: var(--buttonSecondaryColor, var(--bt--secondary-500));
  --bt--btn-hover-color: var(--buttonSecondaryLinkColor, white);
  --bt--btn-hover-border-color: var(--buttonSecondaryLinkColor, white);
  padding-right: 0;
  padding-left: var(--btnSPaddingLeft, 0px);
}
.blockCta__button-secondary a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 1rem;
  padding-left: var(--buttonSecondaryIcon, 1rem);
  color: var(--buttonSecondaryLinkColor, white);
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: var(--textFontSize);
}
.blockCta__button-secondary-icon {
  z-index: 1;
}
.blockCta__button-secondary-icon svg {
  fill: var(--buttonSecondaryLinkColor, white);
}
.blockCta__link {
  z-index: 2;
}
