{% set styles = configuration.block_style %}
{% set style_vars = [] %}

{% if styles.background_color_select != 'default' and styles.background_color_select != 'customColor' %}
  {% if styles.background_color_opacity == '1.0' %}
    {% set style_vars = style_vars|merge(['--backgroundColor: var(--bt--' ~ styles.background_color_select ~ ')']) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--backgroundColor: rgb(var(--bt--' ~ styles.background_color_select ~ '-rgb), ' ~ styles.background_color_opacity ~ ')']) %}
  {% endif %}  
{% endif %}

{% if styles.background_color_select == 'customColor' %}
  {% if styles.background_color_custom_opacity == 'FF' %}
    {% set style_vars = style_vars|merge(['--backgroundColor: ' ~ styles.background_color_custom]) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--backgroundColor: ' ~ styles.background_color_custom ~ styles.background_color_custom_opacity ]) %}
  {% endif %}  
{% endif %}

{%
  set styles_vars = style_vars|merge([
    styles.title_color_select != 'default' and styles.title_color_select != 'customColor' ? '--titleColor: var(--bt--' ~ styles.title_color_select ~ ')',
    styles.title_color_select == 'customColor' ? '--titleColor: ' ~ styles.title_color_custom,
    styles.title_font_family == 'default' ? '--titleFontFamily: var(--bt--headers-font)',
    styles.title_font_family != 'default' ? '--titleFontFamily: ' ~ styles.title_font_family|replace({'-': " "}) : '',
    styles.title_xs_font_size != '' ? '--xsTitleFontSize: ' ~ styles.title_xs_font_size : '',
    styles.title_sm_font_size != '' ? '--smTitleFontSize: ' ~ styles.title_sm_font_size : '',
    styles.title_md_font_size != '' ? '--mdTitleFontSize: ' ~ styles.title_md_font_size : '',
    styles.title_lg_font_size != '' ? '--lgTitleFontSize: ' ~ styles.title_lg_font_size : '',
    styles.title_xl_font_size != '' ? '--xlTitleFontSize: ' ~ styles.title_xl_font_size : '',
    styles.title_xxl_font_size != '' ? '--xxlTitleFontSize: ' ~ styles.title_xxl_font_size : '',

    styles.caption_color_select != 'default' and styles.caption_color_select != 'customColor' ? '--captionColor: var(--bt--' ~ styles.caption_color_select ~ ')',
    styles.caption_color_select == 'customColor' ? '--captionColor: ' ~ styles.caption_color_custom,
    styles.caption_font_family == 'default' ? '--captionFontFamily: var(--bt--headers-font)',
    styles.caption_font_family != 'default' ? '--captionFontFamily: ' ~ styles.caption_font_family|replace({'-': " "}) : '',
    styles.caption_xs_font_size != '' ? '--xsCaptionFontSize: ' ~ styles.caption_xs_font_size : '',
    styles.caption_sm_font_size != '' ? '--smCaptionFontSize: ' ~ styles.caption_sm_font_size : '',
    styles.caption_md_font_size != '' ? '--mdCaptionFontSize: ' ~ styles.caption_md_font_size : '',
    styles.caption_lg_font_size != '' ? '--lgCaptionFontSize: ' ~ styles.caption_lg_font_size : '',
    styles.caption_xl_font_size != '' ? '--xlCaptionFontSize: ' ~ styles.caption_xl_font_size : '',
    styles.caption_xxl_font_size != '' ? '--xxlCaptionFontSize: ' ~ styles.caption_xxl_font_size : '',

    styles.text_color_select != 'default' and styles.text_color_select != 'customColor' ? '--textColor: var(--bt--' ~ styles.text_color_select ~ ')',
    styles.text_color_select == 'customColor' ? '--textColor: ' ~ styles.text_color_custom,
    styles.text_font_family != 'default' ? '--textFontFamily: ' ~ styles.text_font_family|replace({'-': " "}) : '',
    styles.text_xs_font_size != '' ? '--xsTextFontSize: ' ~ styles.text_xs_font_size : '',
    styles.text_sm_font_size != '' ? '--smTextFontSize: ' ~ styles.text_sm_font_size : '',
    styles.text_md_font_size != '' ? '--mdTextFontSize: ' ~ styles.text_md_font_size : '',
    styles.text_lg_font_size != '' ? '--lgTextFontSize: ' ~ styles.text_lg_font_size : '',
    styles.text_xl_font_size != '' ? '--xlTextFontSize: ' ~ styles.text_xl_font_size : '',
    styles.text_xxl_font_size != '' ? '--xxlTextFontSize: ' ~ styles.text_xxl_font_size : '',

    content.field_bt_button_icon|render ? '--buttonIcon: calc(1.5rem + var(--buttonIconSize, 24px)); --btnPaddingLeft: 1rem',
    content.field_bt_button_secondary_icon|render ? '--buttonSecondaryIcon: calc(1.5rem + var(--buttonIconSize, 24px)); --btnSPaddingLeft: 1rem',
    styles.button_color_select != 'default' and styles.button_color_select != 'customColor' ? '--buttonColor: var(--bt--' ~ styles.button_color_select ~ ')',
    styles.button_color_select == 'customColor' ? '--buttonColor: ' ~ styles.button_color_custom,
    styles.button_link_color_select != 'default' and styles.button_link_color_select != 'customColor' ? '--buttonLinkColor: var(--bt--' ~ styles.button_link_color_select ~ ')',
    styles.button_link_color_select == 'customColor' ? '--buttonLinkColor: ' ~ styles.button_link_color_custom,
    styles.button_secondary_color_select != 'default' and styles.button_secondary_color_select != 'customColor' ? '--buttonSecondaryColor: var(--bt--' ~ styles.button_secondary_color_select ~ ')',
    styles.button_secondary_color_select == 'customColor' ? '--buttonSecondaryColor: ' ~ styles.button_secondary_color_custom,
    styles.button_secondary_link_color_select != 'default' and styles.button_secondary_link_color_select != 'customColor' ? '--buttonSecondaryLinkColor: var(--bt--' ~ styles.button_secondary_link_color_select ~ ')',
    styles.button_secondary_link_color_select == 'customColor' ? '--buttonSecondaryLinkColor: ' ~ styles.button_secondary_link_color_custom,

    styles.background_color_select == 'default' ? '--backgroundColor: var(--bt--block-bg-color)' : '',

    styles.animation_option == TRUE  and styles.animation_duration ? '--animationDuration: ' ~ styles.animation_duration : '',
    styles.animation_option == TRUE  and styles.animation_delay ? '--animationDelay: ' ~ styles.animation_delay : '',
    styles.animation_option == TRUE  and styles.animation_count ? '--animationCount: ' ~ styles.animation_count : '',
    styles.animation_option == TRUE  and styles.animation_function and styles.animation_function != 'default' ? '--animationFunction: ' ~ styles.animation_function : '',
    styles.animation_option == TRUE  and styles.animation_fill and styles.animation_fill != 'default' ? '--animationFill: ' ~ styles.animation_fill : '',

    styles.xs_max_width != '' ? '--xsMaxWidth: ' ~ styles.xs_max_width : '',
    styles.sm_max_width != '' ? '--smMaxWidth: ' ~ styles.sm_max_width : '',
    styles.md_max_width != '' ? '--mdMaxWidth: ' ~ styles.md_max_width : '',
    styles.lg_max_width != '' ? '--lgMaxWidth: ' ~ styles.lg_max_width : '',
    styles.xl_max_width != '' ? '--xlMaxWidth: ' ~ styles.xl_max_width : '',
    styles.xxl_max_width != '' ? '--xxlMaxWidth: ' ~ styles.xxl_max_width : '',

    styles.xs_margin_left != '' ? '--xsMarginLeft: ' ~ styles.xs_margin_left : '',
    styles.xs_margin_top != '' ? '--xsMarginTop: ' ~ styles.xs_margin_top : '',
    styles.xs_margin_right != '' ? '--xsMarginRight: ' ~ styles.xs_margin_right : '',
    styles.xs_margin_bottom != '' ? '--xsMarginBottom: ' ~ styles.xs_margin_bottom : '',
    styles.sm_margin_left != '' ? '--smMarginLeft: ' ~ styles.sm_margin_left : '',
    styles.sm_margin_top != '' ? '--smMarginTop: ' ~ styles.sm_margin_top : '',
    styles.sm_margin_right != '' ? '--smMarginRight: ' ~ styles.sm_margin_right : '',
    styles.sm_margin_bottom != '' ? '--smMarginBottom: ' ~ styles.sm_margin_bottom : '',
    styles.md_margin_left != '' ? '--mdMarginLeft: ' ~ styles.md_margin_left : '',
    styles.md_margin_top != '' ? '--mdMarginTop: ' ~ styles.md_margin_top : '',
    styles.md_margin_right != '' ? '--mdMarginRight: ' ~ styles.md_margin_right : '',
    styles.md_margin_bottom != '' ? '--mdMarginBottom: ' ~ styles.md_margin_bottom : '', 
    styles.lg_margin_left != '' ? '--lgMarginLeft: ' ~ styles.lg_margin_left : '',
    styles.lg_margin_top != '' ? '--lgMarginTop: ' ~ styles.lg_margin_top : '',
    styles.lg_margin_right != '' ? '--lgMarginRight: ' ~ styles.lg_margin_right : '',
    styles.lg_margin_bottom != '' ? '--lgMarginBottom: ' ~ styles.lg_margin_bottom : '',
    styles.xl_margin_left != '' ? '--xlMarginLeft: ' ~ styles.xl_margin_left : '',
    styles.xl_margin_top != '' ? '--xlMarginTop: ' ~ styles.xl_margin_top : '',
    styles.xl_margin_right != '' ? '--xlMarginRight: ' ~ styles.xl_margin_right : '',
    styles.xl_margin_bottom != '' ? '--xlMarginBottom: ' ~ styles.xl_margin_bottom : '',
    styles.xxl_margin_left != '' ? '--xxlMarginLeft: ' ~ styles.xxl_margin_left : '',
    styles.xxl_margin_top != '' ? '--xxlMarginTop: ' ~ styles.xxl_margin_top : '',
    styles.xxl_margin_right != '' ? '--xxlMarginRight: ' ~ styles.xxl_margin_right : '',
    styles.xxl_margin_bottom != '' ? '--xxlMarginBottom: ' ~ styles.xxl_margin_bottom : '',

    styles.xs_padding_left != '' ? '--xsPaddingLeft: ' ~ styles.xs_padding_left : '',
    styles.xs_padding_top != '' ? '--xsPaddingTop: ' ~ styles.xs_padding_top : '',
    styles.xs_padding_right != '' ? '--xsPaddingRight: ' ~ styles.xs_padding_right : '',
    styles.xs_padding_bottom != '' ? '--xsPaddingBottom: ' ~ styles.xs_padding_bottom : '',
    styles.sm_padding_left != '' ? '--smPaddingLeft: ' ~ styles.sm_padding_left : '',
    styles.sm_padding_top != '' ? '--smPaddingTop: ' ~ styles.sm_padding_top : '',
    styles.sm_padding_right != '' ? '--smPaddingRight: ' ~ styles.sm_padding_right : '',
    styles.sm_padding_bottom != '' ? '--smPaddingBottom: ' ~ styles.sm_padding_bottom : '',
    styles.md_padding_left != '' ? '--mdPaddingLeft: ' ~ styles.md_padding_left : '',
    styles.md_padding_top != '' ? '--mdPaddingTop: ' ~ styles.md_padding_top : '',
    styles.md_padding_right != '' ? '--mdPaddingRight: ' ~ styles.md_padding_right : '',
    styles.md_padding_bottom != '' ? '--mdPaddingBottom: ' ~ styles.md_padding_bottom : '', 
    styles.lg_padding_left != '' ? '--lgPaddingLeft: ' ~ styles.lg_padding_left : '',
    styles.lg_padding_top != '' ? '--lgPaddingTop: ' ~ styles.lg_padding_top : '',
    styles.lg_padding_right != '' ? '--lgPaddingRight: ' ~ styles.lg_padding_right : '',
    styles.lg_padding_bottom != '' ? '--lgPaddingBottom: ' ~ styles.lg_padding_bottom : '',
    styles.xl_padding_left != '' ? '--xlPaddingLeft: ' ~ styles.xl_padding_left : '',
    styles.xl_padding_top != '' ? '--xlPaddingTop: ' ~ styles.xl_padding_top : '',
    styles.xl_padding_right != '' ? '--xlPaddingRight: ' ~ styles.xl_padding_right : '',
    styles.xl_padding_bottom != '' ? '--xlPaddingBottom: ' ~ styles.xl_padding_bottom : '',
    styles.xxl_padding_left != '' ? '--xxlPaddingLeft: ' ~ styles.xxl_padding_left : '',
    styles.xxl_padding_top != '' ? '--xxlPaddingTop: ' ~ styles.xxl_padding_top : '',
    styles.xxl_padding_right != '' ? '--xxlPaddingRight: ' ~ styles.xxl_padding_right : '',
    styles.xxl_padding_bottom != '' ? '--xxlPaddingBottom: ' ~ styles.xxl_padding_bottom : '',

    styles.xs_align != 'default' ? '--xsAlignSelf: ' ~ styles.xs_align : '',
    styles.sm_align != 'default' ? '--smAlignSelf: ' ~ styles.sm_align : '',
    styles.md_align != 'default' ? '--mdAlignSelf: ' ~ styles.md_align : '',
    styles.lg_align != 'default' ? '--lgAlignSelf: ' ~ styles.lg_align : '',
    styles.xl_align != 'default' ? '--xlAlignSelf: ' ~ styles.xl_align : '',
    styles.xxl_align != 'default' ? '--xxlAlignSelf: ' ~ styles.xxl_align : '',

    styles.xs_justify != 'default' ? '--xsJustifySelf: ' ~ styles.xs_justify : '',
    styles.sm_justify != 'default' ? '--smJustifySelf: ' ~ styles.sm_justify : '',
    styles.md_justify != 'default' ? '--mdJustifySelf: ' ~ styles.md_justify : '',
    styles.lg_justify != 'default' ? '--lgJustifySelf: ' ~ styles.lg_justify : '',
    styles.xl_justify != 'default' ? '--xlJustifySelf: ' ~ styles.xl_justify : '',
    styles.xxl_justify != 'default' ? '--xxlJustifySelf: ' ~ styles.xxl_justify : '',

    styles.xs_text_align != 'default' ? '--xsTextAlign: ' ~ styles.xs_text_align : '',
    styles.sm_text_align != 'default' ? '--smTextAlign: ' ~ styles.sm_text_align : '',
    styles.md_text_align != 'default' ? '--mdTextAlign: ' ~ styles.md_text_align : '',
    styles.lg_text_align != 'default' ? '--lgTextAlign: ' ~ styles.lg_text_align : '',
    styles.xl_text_align != 'default' ? '--xlTextAlign: ' ~ styles.xl_text_align : '',
    styles.xxl_text_align != 'default' ? '--xxlTextAlign: ' ~ styles.xxl_text_align : '',
  ])|remove_empty
%}

{%
  set classes = [
    'block',
    'block' ~ bundle|capitalize,
    'block' ~ bundle|capitalize ~ '--' ~ view_mode,
    styles.animation_option == TRUE and styles.animation_trigger == 'on_scroll' ? 'wow' : '',
    styles.animation_option == TRUE ? styles.animation_type : '',
  ]|remove_empty
%}

{%
  set title_classes = [
    configuration.label_display == FALSE ? 'visually-hidden',
    'block' ~ bundle|capitalize ~ '--' ~ view_mode ~ '__block-title',
  ]
%}

<section {{ attributes.setAttribute('style', styles_vars|join('; ')).setAttribute('id', 'blockCta--' ~ id ).addClass(classes) }}>
  {{title_prefix }}
  <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
  {{ title_suffix }}
  <div class="boxed">
  {% block content %}
    {{ content.field_bt_img}}
    {{ content.field_bt_content_title }}
    {{ content.field_bt_epigrafe}}
    {{ content.field_bt_paragraph}}
    {% if content.field_bt_link_double is not empty %}
      <div class="blockCta__buttons blockCta--full__buttons">
        {% if content.field_bt_link_double.0 is not empty %}
            <div class="btn btn-lg blockCta__button blockCta--full__button">
              {{ content.field_bt_button_icon }}  
              <div class="btn-link blockCta__link blockCta--full__link">
                {{ content.field_bt_link_double.0 }}
              </div>  
            </div>
        {% endif %}
        {% if content.field_bt_link_double.1 is not empty %}    
            <div class="btn btn-lg blockCta__button-secondary blockCta--full__button-secondary">
              {{ content.field_bt_button_secondary_icon }}  
              <div class="btn-link blockCta__link blockCta--full__link">
                {{ content.field_bt_link_double.1 }}
              </div>
            </div>
        {% endif %}
      </div>
      {% endif %}
  {% endblock %}
  </div>
</section>