.nodeBlogPost--teaser-image {
  width: 100%;
  max-width: 280px;
  background-color: var(--backgroundColor);
}
.nodeBlogPost--teaser-image__title {
  margin: 1rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.nodeBlogPost--teaser-image__title a {
  color: var(--bt--titles-color, var(--bt--titles-color, var(--bt--primary)));
}
.nodeBlogPost--teaser-image__author, .nodeBlogPost--teaser-image__date {
  margin: 0 1rem;
  text-align: center;
  font-size: 0.8rem;
}
.nodeBlogPost--teaser-image__intro {
  font-size: 1.2rem;
  color: var(--bt--body-color);
  margin: 0 1rem;
  margin-top: 1.2rem;
}
.nodeBlogPost--teaser-image__intro p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.nodeBlogPost--teaser-image__image {
  width: 100%;
  margin: 0 auto;
}
.nodeBlogPost--teaser-image__image img {
  width: 100%;
  border-top-left-radius: var(--bt--border-radius);
  border-top-right-radius: var(--bt--border-radius);
}
.nodeBlogPost--teaser-image__read-more {
  margin: 1rem 0;
  font-size: 1rem;
}
.nodeBlogPost--teaser-image__read-more a {
  color: var(--bt--link-color, var(--bt--link-color));
}
.nodeBlogPost--teaser-image__read-more a:hover {
  color: var(--bt--link-hover-color);
}

@media (min-width: 576px) {
  .nodeBlogPost--teaser-image {
    max-width: 350px;
  }
}
@media (min-width: 768px) {
  .nodeBlogPost--teaser-image {
    max-width: 450px;
  }
}
/* Elemento | http://localhost:8000/blog */
/* Elemento | http://localhost:8000/blog */
div.field:nth-child(3) {
  margin: 0 1rem;
  text-align: left;
  font-size: 0.8rem;
}
