.block.blockHighlightedTextImage {
  background-color: var(--backgroundColor, transparent);
}

.blockHighlightedTextImage {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --captionFontSize: var(--xsCaptionFontSize, 1.2rem);
  --textFontSize: var(--xsTextFontSize, 1rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockHighlightedTextImage__content-title {
  color: var(--titleColor, var(--bt--titles-color, var(--bt--titles-color, var(--bt--primary))));
  font-family: var(--titleFontFamily);
  font-size: var(--titleFontSize, 1.8rem);
}
.blockHighlightedTextImage__caption {
  color: var(--captionColor, var(--bt--body-color, var(--bt--secondary)));
  font-family: var(--captionFontFamily);
  font-size: var(--captionFontFamily, 1.2rem);
}
.blockHighlightedTextImage__highlighted-text {
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: var(--textFontSize, 1rem);
}
.blockHighlightedTextImage__highlighted-text > mark {
  background-color: var(--highlightedColor, var(--bt--accent-500));
  color: var(--textColor, var(--bt--body-color));
}
