{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{% set div_attributes = create_attribute() %}
{% set style_vars = [] %}

{%
  set styles_vars = style_vars|merge([
    theme_settings.is_anonymous == FALSE ? '--headerPositionTop: 39px' : '',
    theme_settings.default_font == 'default' ? '--bt--body-font-family: var(--bt--font-sans-serif)' : '',
    theme_settings.default_font != 'default' ? '--bt--body-font: ' ~ theme_settings.default_font|replace({'-': " "})  : '',
    theme_settings.default_font != 'default' ? '--bt--body-font-family: var(--bt--body-font, var(--bt--font-sans-serif))' : '',

    theme_settings.headers_font == 'default' ? '--bt--headers-font: var(--bt--body-font)' : '',
    theme_settings.headers_font != 'default' ? '--bt--headers-font: ' ~ theme_settings.headers_font|replace({'-': " "})  : '',
  ])|remove_empty
%}

{{ attach_library('camaleon/' ~ theme_settings.default_font) }}

{% if theme_settings.headers_font != 'default' %}
  {{ attach_library('camaleon/' ~ theme_settings.headers_font) }}
{% endif %}

<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    <div {{ div_attributes.setAttribute('class', ['body']).setAttribute('style', styles_vars|join('; ')) }}>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    </div>
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
