{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 * - theme_settings: Region settings from theme config form.
 *
 * @see template_preprocess_region()
 */
#}
{% set navbar_attributes = create_attribute() %}

{{ attach_library('camaleon/navbar') }}
{{ attach_library("camaleon/layouts") }}

{{ attach_library("camaleon/"  ~ theme_settings.style|replace({'-': "_"})) }}

{#{% if is_front %}
 {{ attach_library('camaleon/navbar_home') }}
 {% set home = TRUE %}
{% endif %}#}

{% include "@Components/navbar/navbar.twig" with {
  'content': content,
  'attributes': attributes,
  'region': region,
  'navbar_attributes': navbar_attributes,
  'home': home,
  'theme_settings': theme_settings,
  } 
%}