{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{{ attach_library("camaleon/layouts") }}
{% include "@Components/layouts/region--content.twig" with {
  'content': content,
  'attributes': attributes,
  'region': region,
  'is_layout_builder_page': is_layout_builder_page,
  'theme_settings': theme_settings,
  }
%}