.block.blockImagesSlide {
  --maxWidth: var(--xsMaxWidth, 100%);
  --alignSelf: var(--xsAlignSelf, center);
  align-self: unset;
  justify-self: unset;
  background-color: var(--backgroundColor, transparent);
}

.blockImagesSlide {
  --maxWidth: var(--maxWidth);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
