{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set styles = theme_settings.button %}
{% set style_vars = [] %}

{%
  set style_vars = style_vars|merge([
    styles.link_color == 'customColor' ? '--bt--btn-color: ' ~ styles.link_color_custom : '',
    styles.link_color != 'default' and styles.link_color != 'customColor' ? '--bt--btn-color: var(--bt--' ~ styles.link_color ~ ')' : '',
    
    styles.link_color_hover == 'customColor' ? '--bt--btn-hover-color: ' ~ styles.link_color_custom_hover : '',    
    styles.link_color_hover != 'default' and styles.link_color_hover != 'customColor' ? '--bt--btn-hover-color: var(--bt--' ~ styles.link_color_hover ~ ')' : '',
    
    styles.link_color_active == 'customColor' ? '--bt--btn-active-color: ' ~ styles.link_color_custom_active : '',
    styles.link_color_active != 'default' and styles.link_color_active != 'customColor' ? '--bt--btn-active-color: var(--bt--' ~ styles.link_color_active ~ ')' : '',
    
    styles.link_color_disabled == 'customColor' ? '--bt--btn-disabled-color: ' ~ styles.link_color_custom_disabled : '',
    styles.link_color_disabled != 'default' and styles.link_color_disabled != 'customColor' ? '--bt--btn-disabled-color: var(--bt--' ~ styles.link_color_disabled ~ ')' : '',

    styles.background_color == 'customColor' ? '--bt--btn-bg: ' ~ styles.background_color_custom : '',
    styles.background_color != 'default' and styles.background_color != 'customColor' ? '--bt--btn-bg: var(--bt--' ~ styles.background_color ~ ')' : '',

    styles.background_color_hover == 'customColor' ? '--bt--btn-hover-bg: ' ~ styles.background_color_custom_hover : '',
    styles.background_color_hover != 'default' and styles.background_color_hover != 'customColor' ? '--bt--btn-hover-bg: var(--bt--' ~ styles.background_color_hover ~ ')' : '',
    styles.background_color_active == 'customColor' ? '--bt--btn-active-bg: ' ~ styles.background_color_custom_active : '',
    styles.background_color_active != 'default' and styles.background_color_active != 'customColor' ? '--bt--btn-active-bg: var(--bt--' ~ styles.background_color_active ~ ')' : '',
    styles.background_color_disabled == 'customColor' ? '--bt--btn-disabled-bg: ' ~ styles.background_color_custom_disabled : '',
    styles.background_color_disabled != 'default' and styles.background_color_disabled != 'customColor' ? '--bt--btn-disabled-bg: var(--bt--' ~ styles.background_color_disabled ~ ')' : '',

    styles.border_color == 'customColor' ? '--bt--btn-border-color: ' ~ styles.border_color_custom : '',
    styles.border_color != 'default' and styles.border_color != 'customColor' ? '--bt--btn-border-color: var(--bt--' ~ styles.border_color ~ ')' : '',

    styles.border_color_hover == 'customColor' ? '--bt--btn-hover-border-color: ' ~ styles.border_color_custom_hover : '',
    styles.border_color_hover != 'default' and styles.border_color_hover != 'customColor' ? '--bt--btn-hover-border-color: var(--bt--' ~ styles.border_color_hover ~ ')' : '',
    styles.border_color_active == 'customColor' ? '--bt--btn-active-border-color: ' ~ styles.border_color_custom_active : '',
    styles.border_color_active != 'default' and styles.border_color_active != 'customColor' ? '--bt--btn-active-border-color: var(--bt--' ~ styles.border_color_active ~ ')' : '',
    styles.border_color_disabled == 'customColor' ? '--bt--btn-disabled-border-color: ' ~ styles.border_color_custom_disabled : '',
    styles.border_color_disabled != 'default' and styles.border_color_disabled != 'customColor' ? '--bt--btn-disabled-border-color: var(--bt--' ~ styles.border_color_disabled ~ ')' : '',
  ])|remove_empty
%}

<input{{ attributes.setAttribute('style', style_vars|join('; ')) }} />{{ children }}
