.productDefault--list .views-exposed-form {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.productDefault--list .views-exposed-form .form-label {
  margin-top: 0;
}
.productDefault--list .views-exposed-form .form-item {
  margin-right: 1rem;
}
.productDefault--list .views-exposed-form .form-submit {
  margin-top: 5px;
  color: var(--bt--white);
  background-color: var(--bt--primary);
}
.productDefault--list .views-exposed-form .form-submit:hover {
  filter: brightness(110%) saturate(100%);
  color: var(--bt--white);
}
