.productDefault--full {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
}
.productDefault--full__image {
  min-width: 280px;
}
.productDefault--full__image img {
  width: 100%;
}
.productDefault--full__content {
  padding: 1rem;
}
.productDefault--full__price, .productDefault--full__description, .productDefault--full__add-to-cart, .productDefault--full__category {
  margin-bottom: 1rem;
}
.productDefault--full__price {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--bt--primary);
}
.productDefault--full__description {
  font-size: 1.2rem;
  color: var(--bt--primary);
}
.productDefault--full__description .field__label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.productDefault--full__add-to-cart form {
  padding-left: 0;
}
.productDefault--full__category, .productDefault--full__brand {
  font-size: 1rem;
}
