.block.menuMain {
  --xsMaxWidth: 90vw;
  --xsPaddingRight: 0px;
  --xsPaddingLeft: 0px;
  --xsAlignSelf: center;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.menuMain {
  --xsTitleFontSize: 1.2rem;
  --xsItemFontSize: 1.125rem;
  --xsItemPaddingLeft: .125rem;
  --xsItemPaddingTop: .75rem;
  --xsItemPaddingRight: .125rem;
  --xsItemPaddingBottom: .75rem;
  --titleFontSize: var(--xsTitleFontSize);
  --itemFontSize: var(--xsItemFontSize);
  --itemPaddingLeft: var(--xsItemPaddingLeft);
  --itemPaddingTop: var(--xsItemPaddingTop);
  --itemPaddingRight: var(--xsItemPaddingRight);
  --itemPaddingBottom: var(--xsItemPaddingBottom);
  --maxWidth: var(--xsMaxWidth);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.menuMain__menu-title {
  font-family: var(--titleFontFamily, var(--bt--body-font-family));
  font-size: var(--titleFontSize);
  color: var(--titleColor, var(--bt--titles-color, var(--bt--primary)));
}
.menuMain__nav {
  gap: var(--gap, 0px);
  margin-left: var(--marginLeft);
  margin-top: var(--marginTop);
  margin-right: var(--marginRight);
  margin-bottom: var(--marginBottom);
  padding-left: var(--paddingLeft);
  padding-top: var(--paddingTop);
  padding-right: var(--paddingRight);
  padding-bottom: var(--paddingBottom);
}
.menuMain .dropdown-menu {
  background-color: var(--backgroundColor);
}
.menuMain a.menuMain__link {
  display: block;
  padding-left: var(--itemPaddingLeft);
  padding-top: var(--itemPaddingTop);
  padding-right: var(--itemPaddingRight);
  padding-bottom: var(--itemPaddingBottom);
  font-family: var(--itemFontFamily, var(--bt--body-font-family));
  font-size: var(--itemFontSize);
  color: var(--itemColor, var(--bt--primary));
}
.menuMain a.menuMain__link:hover,
.menuMain a.menuMain__link.is-active {
  color: var(--itemColorHover, var(--bt--primary-600));
}
.menuMain__item {
  background-color: var(--itemBackgroundColor, transparent);
  align-self: var(--alignSelf);
  justify-self: var(--justifySelf);
}
.menuMain__item:hover {
  background-color: var(--itemBackgroundColorHover, transparent);
}
