.regionNavbar .container-fluid {
  --justifyContent: center;
  --alignItems: center;
}

.menuMain--one {
  width: 90vw;
}
.menuMain--one .navbar-nav {
  gap: 1rem;
}
.menuMain--one .nav-item, .menuMain--one .dropdown-item {
  border: solid 1px;
  border-color: var(--itemColor);
}
.menuMain--one .nav-item:hover, .menuMain--one .dropdown-item:hover {
  border-color: var(--itemColorHover);
}
.menuMain--one .nav-link {
  text-align: center;
}

@media (min-width: 992px) {
  .regionNavbar .container-fluid {
    --justifyContent: unset;
    --alignItems: unset;
  }

  .menuMain--one {
    width: -moz-max-content;
    width: max-content;
  }
}
