.regionNavbar .container-fluid {
  --justifyContent: center;
  --alignItems: center;
}
.regionNavbar .navbar {
  --bt--navbar-padding-y: 0px;
}

.menuMain--two {
  width: 90vw;
}
.menuMain--two .navbar-nav {
  gap: 1rem;
}
.menuMain--two .nav-link {
  text-align: center;
}

@media (min-width: 992px) {
  .regionNavbar .container-fluid {
    --justifyContent: unset;
    --alignItems: unset;
  }

  .menuMain--two {
    width: -moz-max-content;
    width: max-content;
  }
}
