.block, .view {
  --alignSelf: var(--xsAlignSelf, stretch);
  --justifySelf:var(--xsJustifySelf, center);
  --textAlign:var(--xsTextAlign, center);
  --maxWidth: var(--xsMaxWidth, 85vw);
  --marginLeft:var(--xsMarginLeft, 0px);
  --marginTop: var(--xsMarginTop, 0px);
  --marginRight: var(--xsMarginRight, 0px);
  --marginBottom: var(--xsMarginBottom, 0px);
  --paddingLeft: var(--xsPaddingLeft, 1rem);
  --paddingTop: var(--xsPaddingTop, 1rem);
  --paddingRight: var(--xsPaddingRight, 1rem);
  --paddingBottom: var(--xsPaddingBottom, 1rem);
  margin-left: var(--marginLeft);
  margin-top: var(--marginTop);
  margin-right: var(--marginRight);
  margin-bottom: var(--marginBottom);
  padding-left: var(--paddingLeft);
  padding-top: var(--paddingTop);
  padding-right: var(--paddingRight);
  padding-bottom: var(--paddingBottom);
  align-self: var(--alignSelf);
  justify-self: var(--justifySelf);
  text-align: var(--textAlign);
  background-color: var(--backgroundColor, transparent);
}
