.block.blockTextImage {
  background-color: var(--backgroundColor, transparent);
}

.blockTextImage {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --captionFontSize: var(--xsCaptionFontSize, 1.2rem);
  --textFontSize: var(--xsTextFontSize, 1rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockTextImage__content-title {
  color: var(--titleColor, var(--bt--titles-color, var(--bt--titles-color, var(--bt--primary))));
  font-family: var(--titleFontFamily);
  font-size: var(--titleFontSize);
}
.blockTextImage__caption {
  color: var(--captionColor, var(--bt--body-color, var(--bt--secondary)));
  font-family: var(--captionFontFamily);
  font-size: var(--captionFontSize);
}
.blockTextImage__text {
  color: var(--textColor, var(--bt--body-color));
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: var(--textFontSize);
}
.blockTextImage__button {
  --bt--btn-bg: var(--buttonColor, var(--bt--primary-500));
  --bt--btn-color: var(--buttonLinkColor, white);
  --bt--btn-border-color: var(--buttonColor, var(--bt--primary-500));
  --bt--btn-hover-bg: var(--buttonColor, var(--bt--primary-500));
  --bt--btn-hover-color: var(--buttonLinkColor, white);
  --bt--btn-hover-border-color: var(--buttonLinkColor, white);
  padding-right: 0px;
  padding-left: var(--btnPaddingLeft, 0px);
}
.blockTextImage__button a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 1rem;
  padding-left: var(--buttonIcon, 1rem);
  color: var(--buttonLinkColor, white);
  font-size: var(--textFontSize);
}
.blockTextImage__button-icon {
  z-index: 1;
}
.blockTextImage__button-icon svg {
  color: var(--buttonLinkColor, white);
}
.blockTextImage__link {
  z-index: 2;
}
