.nav {
  --bt--nav-link-padding-x: 1rem;
  --bt--nav-link-padding-y: 0.5rem;
  --bt--nav-link-font-weight: ;
  --bt--nav-link-color: var(--bt--link-color, var(--bt--accent));
  --bt--nav-link-hover-color: var(--bt--link-hover-color, var(--bt--accent-400));
  --bt--nav-link-disabled-color: #6c757d;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: var(--bt--nav-link-padding-y) var(--bt--nav-link-padding-x);
  font-size: var(--bt--nav-link-font-size);
  font-weight: var(--bt--nav-link-font-weight);
  color: var(--bt--nav-link-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover, .nav-link:focus {
  color: var(--bt--nav-link-hover-color);
}
.nav-link.disabled {
  color: var(--bt--nav-link-disabled-color);
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  --bt--nav-tabs-border-width: 1px;
  --bt--nav-tabs-border-color: var(--bt--primary-200);
  --bt--nav-tabs-border-radius: 0.375rem;
  --bt--nav-tabs-link-hover-border-color: var(--bt--primary-200) var(--bt--primary-200) var(--bt--primary-200);
  --bt--nav-tabs-link-active-color: #495057;
  --bt--nav-tabs-link-active-bg: var(--bs-primary-200);
  --bt--nav-tabs-link-active-border-color: var(--bs-primary-200) var(--bt--primary-200) var(--bt--primary-200);
  border-bottom: var(--bt--nav-tabs-border-width) solid var(--bt--nav-tabs-border-color);
}
.nav-tabs .nav-link {
  margin-bottom: calc(var(--bt--nav-tabs-border-width) * -1);
  background: none;
  border: var(--bt--nav-tabs-border-width) solid transparent;
  border-top-left-radius: var(--bt--nav-tabs-border-radius);
  border-top-right-radius: var(--bt--nav-tabs-border-radius);
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  isolation: isolate;
  border-color: var(--bt--nav-tabs-link-hover-border-color);
}
.nav-tabs .nav-link.disabled, .nav-tabs .nav-link:disabled {
  color: var(--bt--nav-link-disabled-color);
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: var(--bt--nav-tabs-link-active-color);
  background-color: var(--bt--nav-tabs-link-active-bg);
  border-color: var(--bt--nav-tabs-link-active-border-color);
}
.nav-tabs .dropdown-menu {
  margin-top: calc(var(--bt--nav-tabs-border-width) * -1);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills {
  --bt--nav-pills-border-radius: 0.375rem;
  --bt--nav-pills-link-active-color: var(--bt--active-color, #fff);
  --bt--nav-pills-link-active-bg: #FB9F00;
}
.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: var(--bt--nav-pills-border-radius);
}
.nav-pills .nav-link:disabled {
  color: var(--bt--nav-link-disabled-color);
  background-color: transparent;
  border-color: transparent;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bt--nav-pills-link-active-color);
  background-color: var(--bt--nav-pills-link-active-bg);
}

.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified > .nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
