.btn, a.button, input.button, .button, button.link {
  --bt--btn-padding-x: 0.75rem;
  --bt--btn-padding-y: 0.375rem;
  --bt--btn-font-family: ;
  --bt--btn-font-size: 1.2rem;
  --bt--btn-font-weight: 400;
  --bt--btn-line-height: 1.5;
  --bt--btn-color: #272726;
  --bt--btn-bg: transparent;
  --bt--btn-border-width: 1px;
  --bt--btn-border-color: transparent;
  --bt--btn-border-radius: 0.375rem;
  --bt--btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bt--btn-disabled-opacity: 0.65;
  --bt--btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bt--btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bt--btn-padding-y) var(--bt--btn-padding-x);
  font-family: var(--bt--btn-font-family);
  font-size: var(--bt--btn-font-size);
  font-weight: var(--bt--btn-font-weight);
  line-height: var(--bt--btn-line-height);
  color: var(--bt--btn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: var(--bt--btn-border-width) solid var(--bt--btn-border-color);
  border-radius: var(--bt--btn-border-radius);
  background-color: var(--bt--btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn, a.button, input.button, .button, button.link {
    transition: none;
  }
}
.btn:hover, .button:hover, button.link:hover {
  color: var(--bt--btn-hover-color);
  background-color: var(--bt--btn-hover-bg);
  border-color: var(--bt--btn-hover-border-color);
}
.btn-check:focus + .btn, .btn-check:focus + .button, .btn-check:focus + button.link, .btn:focus, .button:focus, button.link:focus {
  color: var(--bt--btn-hover-color);
  background-color: var(--bt--btn-hover-bg);
  border-color: var(--bt--btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bt--btn-focus-box-shadow);
}
.btn-check:checked + .btn, .btn-check:checked + .button, .btn-check:checked + button.link, .btn-check:active + .btn, .btn-check:active + .button, .btn-check:active + button.link, .btn:active, .button:active, button.link:active, .btn.active, .active.button, button.active.link, .btn.show, .show.button, button.show.link {
  color: var(--bt--btn-active-color);
  background-color: var(--bt--btn-active-bg);
  border-color: var(--bt--btn-active-border-color);
}
.btn-check:checked + .btn:focus, .btn-check:checked + .button:focus, .btn-check:checked + button.link:focus, .btn-check:active + .btn:focus, .btn-check:active + .button:focus, .btn-check:active + button.link:focus, .btn:active:focus, .button:active:focus, button.link:active:focus, .btn.active:focus, .active.button:focus, button.active.link:focus, .btn.show:focus, .show.button:focus, button.show.link:focus {
  box-shadow: var(--bt--btn-focus-box-shadow);
}
.btn:disabled, .button:disabled, button.link:disabled, .btn.disabled, .disabled.button, button.disabled.link, fieldset:disabled .btn, fieldset:disabled .button, fieldset:disabled button.link {
  color: var(--bt--btn-disabled-color);
  pointer-events: none;
  background-color: var(--bt--btn-disabled-bg);
  border-color: var(--bt--btn-disabled-border-color);
  opacity: var(--bt--btn-disabled-opacity);
}

.btn-primary {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--primary-500);
  --bt--btn-border-color: var(--bt--primary-500);
  --bt--btn-hover-color: white;
  --bt--btn-hover-bg: var(--bt--primary-400);
  --bt--btn-hover-border-color: var(--bt--primary-400);
  --bt--btn-focus-shadow-rgb: var(--bt--primary-300-rgb);
  --bt--btn-active-color: white;
  --bt--btn-active-bg: var(--bt--primary-500);
  --bt--btn-active-border-color: var(--bt--primary-500);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}

.btn-secondary {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--secondary-500);
  --bt--btn-border-color: var(--bt--secondary-500);
  --bt--btn-hover-color: white;
  --bt--btn-hover-bg: var(--bt--secondary-400);
  --bt--btn-hover-border-color: var(--bt--secondary-400);
  --bt--btn-focus-shadow-rgb: var(--bt--secondary-300-rgb);
  --bt--btn-active-color: white;
  --bt--btn-active-bg: var(--bt--secondary-500);
  --bt--btn-active-border-color: var(--bt--secondary-500);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}

.btn-accent {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--accent-500);
  --bt--btn-border-color: var(--bt--accent-500);
  --bt--btn-hover-color: white;
  --bt--btn-hover-bg: var(--bt--accent-400);
  --bt--btn-hover-border-color: var(--bt--accent-400);
  --bt--btn-focus-shadow-rgb: var(--bt--accent-300-rgb);
  --bt--btn-active-color: white;
  --bt--btn-active-bg: var(--bt--accent-500);
  --bt--btn-active-border-color: var(--bt--accent-500);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}

.btn-success {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--success);
  --bt--btn-border-color: var(--bt--success);
  --bt--btn-hover-color: white;
  --bt--btn-hover-bg: var(--bt--success);
  --bt--btn-hover-border-color: var(--bt--success);
  --bt--btn-focus-shadow-rgb: var(--bt--success-rgb);
  --bt--btn-active-color: white;
  --bt--btn-active-bg: var(--bt--success);
  --bt--btn-active-border-color: var(--bt--success);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}

.btn-info {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--info);
  --bt--btn-border-color: var(--bt--info);
  --bt--btn-hover-color: white;
  --bt--btn-hover-bg: var(--bt--info);
  --bt--btn-hover-border-color: var(--bt--info);
  --bt--btn-focus-shadow-rgb: var(--bt--info-rgb);
  --bt--btn-active-color: white;
  --bt--btn-active-bg: var(--bt--info);
  --bt--btn-active-border-color: var(--bt--info);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}

.btn-warning {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--warning);
  --bt--btn-border-color: var(--bt--warning);
  --bt--btn-hover-color: white;
  --bt--btn-hover-bg: var(--bt--warning);
  --bt--btn-hover-border-color: var(--bt--warning);
  --bt--btn-focus-shadow-rgb: var(--bt--warning-rgb);
  --bt--btn-active-color: white;
  --bt--btn-active-bg: var(--bt--warning);
  --bt--btn-active-border-color: var(--bt--warning);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}

.btn-danger {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--danger);
  --bt--btn-border-color: var(--bt--danger);
  --bt--btn-hover-color: white;
  --bt--btn-hover-bg: var(--bt--danger);
  --bt--btn-hover-border-color: var(--bt--danger);
  --bt--btn-focus-shadow-rgb: var(--bt--danger-rgb);
  --bt--btn-active-color: white;
  --bt--btn-active-bg: var(--bt--danger);
  --bt--btn-active-border-color: var(--bt--danger);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}

.btn-light {
  --bt--btn-color: #000;
  --bt--btn-bg: #f8f9fa;
  --bt--btn-border-color: #f8f9fa;
  --bt--btn-hover-color: #000;
  --bt--btn-hover-bg: #d3d4d5;
  --bt--btn-hover-border-color: #c6c7c8;
  --bt--btn-focus-shadow-rgb: 211, 212, 213;
  --bt--btn-active-color: #000;
  --bt--btn-active-bg: #c6c7c8;
  --bt--btn-active-border-color: #babbbc;
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: #000;
  --bt--btn-disabled-bg: #f8f9fa;
  --bt--btn-disabled-border-color: #f8f9fa;
}

.btn-dark {
  --bt--btn-color: #fff;
  --bt--btn-bg: #212529;
  --bt--btn-border-color: #212529;
  --bt--btn-hover-color: #fff;
  --bt--btn-hover-bg: #424649;
  --bt--btn-hover-border-color: #373b3e;
  --bt--btn-focus-shadow-rgb: 66, 70, 73;
  --bt--btn-active-color: #fff;
  --bt--btn-active-bg: #4d5154;
  --bt--btn-active-border-color: #373b3e;
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: #fff;
  --bt--btn-disabled-bg: #212529;
  --bt--btn-disabled-border-color: #212529;
}

.btn-outline-primary {
  --bt--btn-color: #272726;
  --bt--btn-border-color: #272726;
  --bt--btn-hover-color: #fff;
  --bt--btn-hover-bg: #272726;
  --bt--btn-hover-border-color: #272726;
  --bt--btn-focus-shadow-rgb: 39, 39, 38;
  --bt--btn-active-color: #fff;
  --bt--btn-active-bg: #272726;
  --bt--btn-active-border-color: #272726;
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: #272726;
  --bt--btn-disabled-bg: transparent;
  --bt--btn-disabled-border-color: #272726;
  --bt--gradient: none;
}

.btn-outline-secondary {
  --bt--btn-color: #EF3527;
  --bt--btn-border-color: #EF3527;
  --bt--btn-hover-color: #000;
  --bt--btn-hover-bg: #EF3527;
  --bt--btn-hover-border-color: #EF3527;
  --bt--btn-focus-shadow-rgb: 239, 53, 39;
  --bt--btn-active-color: #000;
  --bt--btn-active-bg: #EF3527;
  --bt--btn-active-border-color: #EF3527;
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: #EF3527;
  --bt--btn-disabled-bg: transparent;
  --bt--btn-disabled-border-color: #EF3527;
  --bt--gradient: none;
}

.btn-outline-accent {
  --bt--btn-color: #FB9F00;
  --bt--btn-border-color: #FB9F00;
  --bt--btn-hover-color: #000;
  --bt--btn-hover-bg: #FB9F00;
  --bt--btn-hover-border-color: #FB9F00;
  --bt--btn-focus-shadow-rgb: 251, 159, 0;
  --bt--btn-active-color: #000;
  --bt--btn-active-bg: #FB9F00;
  --bt--btn-active-border-color: #FB9F00;
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: #FB9F00;
  --bt--btn-disabled-bg: transparent;
  --bt--btn-disabled-border-color: #FB9F00;
  --bt--gradient: none;
}

.btn-outline-success {
  --bt--btn-color: #198754;
  --bt--btn-border-color: #198754;
  --bt--btn-hover-color: #fff;
  --bt--btn-hover-bg: #198754;
  --bt--btn-hover-border-color: #198754;
  --bt--btn-focus-shadow-rgb: 25, 135, 84;
  --bt--btn-active-color: #fff;
  --bt--btn-active-bg: #198754;
  --bt--btn-active-border-color: #198754;
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: #198754;
  --bt--btn-disabled-bg: transparent;
  --bt--btn-disabled-border-color: #198754;
  --bt--gradient: none;
}

.btn-outline-info {
  --bt--btn-color: #0d6efd;
  --bt--btn-border-color: #0d6efd;
  --bt--btn-hover-color: #fff;
  --bt--btn-hover-bg: #0d6efd;
  --bt--btn-hover-border-color: #0d6efd;
  --bt--btn-focus-shadow-rgb: 13, 110, 253;
  --bt--btn-active-color: #fff;
  --bt--btn-active-bg: #0d6efd;
  --bt--btn-active-border-color: #0d6efd;
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: #0d6efd;
  --bt--btn-disabled-bg: transparent;
  --bt--btn-disabled-border-color: #0d6efd;
  --bt--gradient: none;
}

.btn-outline-warning {
  --bt--btn-color: #fd7e14;
  --bt--btn-border-color: #fd7e14;
  --bt--btn-hover-color: #000;
  --bt--btn-hover-bg: #fd7e14;
  --bt--btn-hover-border-color: #fd7e14;
  --bt--btn-focus-shadow-rgb: 253, 126, 20;
  --bt--btn-active-color: #000;
  --bt--btn-active-bg: #fd7e14;
  --bt--btn-active-border-color: #fd7e14;
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: #fd7e14;
  --bt--btn-disabled-bg: transparent;
  --bt--btn-disabled-border-color: #fd7e14;
  --bt--gradient: none;
}

.btn-outline-danger {
  --bt--btn-color: #dc3545;
  --bt--btn-border-color: #dc3545;
  --bt--btn-hover-color: #fff;
  --bt--btn-hover-bg: #dc3545;
  --bt--btn-hover-border-color: #dc3545;
  --bt--btn-focus-shadow-rgb: 220, 53, 69;
  --bt--btn-active-color: #fff;
  --bt--btn-active-bg: #dc3545;
  --bt--btn-active-border-color: #dc3545;
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: #dc3545;
  --bt--btn-disabled-bg: transparent;
  --bt--btn-disabled-border-color: #dc3545;
  --bt--gradient: none;
}

.btn-outline-light {
  --bt--btn-color: #f8f9fa;
  --bt--btn-border-color: #f8f9fa;
  --bt--btn-hover-color: #000;
  --bt--btn-hover-bg: #f8f9fa;
  --bt--btn-hover-border-color: #f8f9fa;
  --bt--btn-focus-shadow-rgb: 248, 249, 250;
  --bt--btn-active-color: #000;
  --bt--btn-active-bg: #f8f9fa;
  --bt--btn-active-border-color: #f8f9fa;
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: #f8f9fa;
  --bt--btn-disabled-bg: transparent;
  --bt--btn-disabled-border-color: #f8f9fa;
  --bt--gradient: none;
}

.btn-outline-dark {
  --bt--btn-color: #212529;
  --bt--btn-border-color: #212529;
  --bt--btn-hover-color: #fff;
  --bt--btn-hover-bg: #212529;
  --bt--btn-hover-border-color: #212529;
  --bt--btn-focus-shadow-rgb: 33, 37, 41;
  --bt--btn-active-color: #fff;
  --bt--btn-active-bg: #212529;
  --bt--btn-active-border-color: #212529;
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: #212529;
  --bt--btn-disabled-bg: transparent;
  --bt--btn-disabled-border-color: #212529;
  --bt--gradient: none;
}

.btn-link, button.link {
  --bt--btn-font-weight: 400;
  --bt--btn-color: var(--bt--link-color);
  --bt--btn-bg: transparent;
  --bt--btn-border-color: transparent;
  --bt--btn-hover-color: var(--bt--link-hover-color);
  --bt--btn-hover-border-color: transparent;
  --bt--btn-active-color: var(--bt--link-hover-color);
  --bt--btn-active-border-color: transparent;
  --bt--btn-disabled-color: #6c757d;
  --bt--btn-disabled-border-color: transparent;
  --bt--btn-box-shadow: none;
  --bt--btn-focus-shadow-rgb: 71, 71, 71;
  text-decoration: none;
}
.btn-link:focus, button.link:focus {
  color: var(--bt--btn-color);
}
.btn-link:hover, button.link:hover {
  color: var(--bt--btn-hover-color);
}

.btn-lg {
  --bt--btn-padding-y: 0.5rem;
  --bt--btn-padding-x: 1rem;
  --bt--btn-font-size: calc(1.275rem + 0.3vw);
  --bt--btn-border-radius: 0.5rem;
}
@media (min-width: 1200px) {
  .btn-lg {
    --bt--btn-font-size: 1.5rem;
  }
}

.btn-sm {
  --bt--btn-padding-y: 0.25rem;
  --bt--btn-padding-x: 0.5rem;
  --bt--btn-font-size: 1.05rem;
  --bt--btn-border-radius: 0.25rem;
}

.button--small {
  --bt--btn-padding-y: 0.25rem;
  --bt--btn-padding-x: 0.5rem;
  --bt--btn-font-size: 1.05rem;
  --bt--btn-border-radius: 0.25rem;
}

a.button, input.button {
  text-decoration: none;
}
a.button.button--primary, input.button.button--primary {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--primary-500);
  --bt--btn-border-color: var(--bt--primary-500);
  --bt--btn-hover-color: var(--bt--primary-050);
  --bt--btn-hover-bg: var(--bt--primary-400);
  --bt--btn-hover-border-color: var(--bt--primary-400);
  --bt--btn-focus-shadow-rgb: var(--bt--primary-300-rgb);
  --bt--btn-active-color: var(--bt--primary-050);
  --bt--btn-active-bg: var(--bt--primary-500);
  --bt--btn-active-border-color: var(--bt--primary-500);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}
a.button.button--secondary, input.button.button--secondary {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--secondary-500);
  --bt--btn-border-color: var(--bt--secondary-500);
  --bt--btn-hover-color: var(--bt--secondary-050);
  --bt--btn-hover-bg: var(--bt--secondary-400);
  --bt--btn-hover-border-color: var(--bt--secondary-400);
  --bt--btn-focus-shadow-rgb: var(--bt--secondary-300-rgb);
  --bt--btn-active-color: var(--bt--secondary-050);
  --bt--btn-active-bg: var(--bt--secondary-500);
  --bt--btn-active-border-color: var(--bt--secondary-500);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}
a.button.button--accent, input.button.button--accent {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--accent-500);
  --bt--btn-border-color: var(--bt--accent-500);
  --bt--btn-hover-color: var(--bt--accent-050);
  --bt--btn-hover-bg: var(--bt--accent-400);
  --bt--btn-hover-border-color: var(--bt--accent-400);
  --bt--btn-focus-shadow-rgb: var(--bt--accent-300-rgb);
  --bt--btn-active-color: var(--bt--accent-050);
  --bt--btn-active-bg: var(--bt--accent-500);
  --bt--btn-active-border-color: var(--bt--accent-500);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}
a.button.button-action, input.button.button-action {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--info);
  --bt--btn-border-color: var(--bt--info);
  --bt--btn-hover-color: white;
  --bt--btn-hover-bg: var(--bt--info);
  --bt--btn-hover-border-color: var(--bt--info);
  --bt--btn-focus-shadow-rgb: var(--bt--info-rgb);
  --bt--btn-active-color: white;
  --bt--btn-active-bg: var(--bt--info);
  --bt--btn-active-border-color: var(--bt--info);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}
a.button.button--success, input.button.button--success {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--success);
  --bt--btn-border-color: var(--bt--success);
  --bt--btn-hover-color: white;
  --bt--btn-hover-bg: var(--bt--success);
  --bt--btn-hover-border-color: var(--bt--success);
  --bt--btn-focus-shadow-rgb: var(--bt--success-rgb);
  --bt--btn-active-color: white;
  --bt--btn-active-bg: var(--bt--success);
  --bt--btn-active-border-color: var(--bt--success);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}
a.button.button--info, input.button.button--info {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--info);
  --bt--btn-border-color: var(--bt--info);
  --bt--btn-hover-color: white;
  --bt--btn-hover-bg: var(--bt--info);
  --bt--btn-hover-border-color: var(--bt--info);
  --bt--btn-focus-shadow-rgb: var(--bt--info-rgb);
  --bt--btn-active-color: white;
  --bt--btn-active-bg: var(--bt--info);
  --bt--btn-active-border-color: var(--bt--info);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}
a.button.button--warning, input.button.button--warning {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--warning);
  --bt--btn-border-color: var(--bt--warning);
  --bt--btn-hover-color: white;
  --bt--btn-hover-bg: var(--bt--warning);
  --bt--btn-hover-border-color: var(--bt--warning);
  --bt--btn-focus-shadow-rgb: var(--bt--warning-rgb);
  --bt--btn-active-color: white;
  --bt--btn-active-bg: var(--bt--warning);
  --bt--btn-active-border-color: var(--bt--warning);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}
a.button.button--danger, input.button.button--danger {
  --bt--btn-color: white;
  --bt--btn-bg: var(--bt--danger);
  --bt--btn-border-color: var(--bt--danger);
  --bt--btn-hover-color: white;
  --bt--btn-hover-bg: var(--bt--danger);
  --bt--btn-hover-border-color: var(--bt--danger);
  --bt--btn-focus-shadow-rgb: var(--bt--danger-rgb);
  --bt--btn-active-color: white;
  --bt--btn-active-bg: var(--bt--danger);
  --bt--btn-active-border-color: var(--bt--danger);
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: var(--bt--gray-050);
  --bt--btn-disabled-bg: var(--bt--gray-400);
  --bt--btn-disabled-border-color: var(--bt--gray-400);
}
a.button.button--small, input.button.button--small {
  --bt--btn-padding-y: 0.25rem;
  --bt--btn-padding-x: 0.5rem;
  --bt--btn-font-size: 1.05rem;
  --bt--btn-border-radius: 0.25rem;
}

.btn-primary a {
  color: #fff;
}
.btn-primary a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-secondary a {
  color: #000;
}
.btn-secondary a:hover {
  color: #000;
  text-decoration: none;
}

.btn-accent a {
  color: #000;
}
.btn-accent a:hover {
  color: #000;
  text-decoration: none;
}

.btn-success a {
  color: #fff;
}
.btn-success a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-info a {
  color: #fff;
}
.btn-info a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-warning a {
  color: #000;
}
.btn-warning a:hover {
  color: #000;
  text-decoration: none;
}

.btn-danger a {
  color: #fff;
}
.btn-danger a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-light a {
  color: #000;
}
.btn-light a:hover {
  color: #000;
  text-decoration: none;
}

.btn-dark a {
  color: #fff;
}
.btn-dark a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-outline-primary:hover a {
  color: #fff;
}
.btn-outline-primary a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-outline-secondary:hover a {
  color: #000;
}
.btn-outline-secondary a:hover {
  color: #000;
  text-decoration: none;
}

.btn-outline-accent:hover a {
  color: #000;
}
.btn-outline-accent a:hover {
  color: #000;
  text-decoration: none;
}

.btn-outline-success:hover a {
  color: #fff;
}
.btn-outline-success a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-outline-info:hover a {
  color: #fff;
}
.btn-outline-info a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-outline-warning:hover a {
  color: #000;
}
.btn-outline-warning a:hover {
  color: #000;
  text-decoration: none;
}

.btn-outline-danger:hover a {
  color: #fff;
}
.btn-outline-danger a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-outline-light:hover a {
  color: #000;
}
.btn-outline-light a:hover {
  color: #000;
  text-decoration: none;
}

.btn-outline-dark:hover a {
  color: #fff;
}
.btn-outline-dark a:hover {
  color: #fff;
  text-decoration: none;
}

.btn, button.link, a.button, input.button,
.button {
  margin: 0 0.5rem;
}
.btn:first-child, button.link:first-child,
.button:first-child {
  margin-left: 0;
}
.btn:last-child, button.link:last-child,
.button:last-child {
  margin-right: 0;
}

.btn-group .btn, .btn-group button.link,
.btn-group .button {
  margin: 0;
}

a[class=button] {
  --bt--btn-color: #000;
  --bt--btn-bg: #f8f9fa;
  --bt--btn-border-color: #f8f9fa;
  --bt--btn-hover-color: #000;
  --bt--btn-hover-bg: #f9fafb;
  --bt--btn-hover-border-color: #f9fafb;
  --bt--btn-focus-shadow-rgb: 211, 212, 213;
  --bt--btn-active-color: #000;
  --bt--btn-active-bg: #f9fafb;
  --bt--btn-active-border-color: #f9fafb;
  --bt--btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bt--btn-disabled-color: #000;
  --bt--btn-disabled-bg: #f8f9fa;
  --bt--btn-disabled-border-color: #f8f9fa;
}
