.block.blockQuote {
  --maxWidth: var(--xsMaxWidth, max-content);
  --textAlign: var(--xsTextAlign, left);
  background-color: var(--backgroundColor, transparent);
}

.blockQuote {
  --textFontSize: var(--xsTextFontSize, 2rem);
  --maxWidth: var(--xsMaxWidth);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
  overflow: clip;
}
.blockQuote__text {
  color: var(--textColor, var(--bt--body-color));
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: var(--textFontSize);
}
.blockQuote__text::before {
  color: var(--symbolColor, var(--bt--accent));
}
.blockQuote__source {
  color: var(--sourceColor, var(--bt--body-color));
  font-family: var(--textFontFamily, var(--bt--body-font-family));
}
.blockQuote__link-single a {
  color: var(--linkColor, var(--bt--link-color, var(--bt--link-color)));
  font-family: var(--textFontFamily, var(--bt--body-font-family));
}
