@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@300&display=swap");
.blockQuote--full {
  display: flex;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
}
.blockQuote--full .boxed {
  max-width: var(--maxWidth);
  align-self: center;
}
.blockQuote--full__text > p {
  position: relative;
  margin-left: calc(var(--textFontSize) * 1.2);
  font-style: italic;
}
.blockQuote--full__text::before {
  content: "“";
  display: block;
  height: calc(var(--textFontSize) * 0.5);
  position: relative;
  z-index: 0;
  bottom: calc(var(--textFontSize) * 4.8);
  font-family: "Palanquin", sans-serif;
  font-size: calc(var(--textFontSize) * 10);
  text-align: left;
}
.blockQuote--full__source {
  font-size: max(var(--textFontSize) * 0.5, 0.8rem);
}
.blockQuote--full__source::before {
  content: "— ";
}
.blockQuote--full__link-single {
  position: relative;
  font-size: max(var(--textFontSize) * 0.5, 0.8rem);
}
