.paragraphLede--default {
  margin: 1rem;
}
.paragraphLede--default__text {
  font-family: var(--bt--body-font-family);
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.paragraphLede--default__text mark {
  background-color: var(--bt--accent);
  color: var(--bt--body-color);
}
