.toast {
  --bt--toast-padding-x: 0.75rem;
  --bt--toast-padding-y: 0.5rem;
  --bt--toast-spacing: 1.5rem;
  --bt--toast-max-width: 350px;
  --bt--toast-font-size: 0.875rem;
  --bt--toast-color: ;
  --bt--toast-bg: rgba(255, 255, 255, 0.85);
  --bt--toast-border-width: 1px;
  --bt--toast-border-color: var(--bt--border-color-translucent);
  --bt--toast-border-radius: 0.375rem;
  --bt--toast-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bt--toast-header-color: #6c757d;
  --bt--toast-header-bg: rgba(255, 255, 255, 0.85);
  --bt--toast-header-border-color: rgba(0, 0, 0, 0.05);
  width: var(--bt--toast-max-width);
  max-width: 100%;
  font-size: var(--bt--toast-font-size);
  color: var(--bt--toast-color);
  pointer-events: auto;
  background-color: var(--bt--toast-bg);
  background-clip: padding-box;
  border: var(--bt--toast-border-width) solid var(--bt--toast-border-color);
  box-shadow: var(--bt--toast-box-shadow);
  border-radius: var(--bt--toast-border-radius);
}
.toast.showing {
  opacity: 0;
}
.toast:not(.show) {
  display: none;
}

.toast-container {
  position: absolute;
  z-index: 1090;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  pointer-events: none;
}
.toast-container > :not(:last-child) {
  margin-bottom: var(--bt--toast-spacing);
}

.toast-header {
  display: flex;
  align-items: center;
  padding: var(--bt--toast-padding-y) var(--bt--toast-padding-x);
  color: var(--bt--toast-header-color);
  background-color: var(--bt--toast-header-bg);
  background-clip: padding-box;
  border-bottom: var(--bt--toast-border-width) solid var(--bt--toast-header-border-color);
  border-top-left-radius: calc(var(--bt--toast-border-radius) - var(--bt--toast-border-width));
  border-top-right-radius: calc(var(--bt--toast-border-radius) - var(--bt--toast-border-width));
}
.toast-header .btn-close {
  margin-right: calc(var(--bt--toast-padding-x) * -0.5);
  margin-left: var(--bt--toast-padding-x);
}

.toast-body {
  padding: var(--bt--toast-padding-x);
  word-wrap: break-word;
}
