.viewsBlog--blog-all .nodeBlogPost--teaser-image,
.viewsBlog--blog-user-all .nodeBlogPost--teaser-image,
.viewsBlog--blog-user-all-block .nodeBlogPost--teaser-image {
  border: solid 1px var(--bt--body-color);
  border-radius: var(--bt--border-radius);
}
