.block.blockHero--default {
  justify-self: var(--xsAlignSelf, stretch);
}

.blockHero--default {
  width: 100%;
  min-width: 50vw;
  min-height: 90vh;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  background: 100%;
  background-size: cover;
}
.blockHero--default__content-title {
  width: 100%;
  margin-bottom: 0;
  padding: 0 1vw;
  height: -moz-fit-content;
  height: fit-content;
}
.blockHero--default__caption {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0 1vw;
}
.blockHero--default__text {
  margin-top: 0px;
  margin-bottom: 1.5rem;
  padding: 0 1vw;
  height: -moz-max-content;
  height: max-content;
}
.blockHero--default__buttons {
  min-width: 260px;
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0 1vw;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.blockHero--default__button, .blockHero--default__button-secondary {
  margin: 0;
}

@media (min-width: 576px) {
  .blockHero--default__buttons {
    width: 100%;
    margin: 0;
    flex-direction: row;
  }
}
