.block.blocHero {
  align-self: unset;
  justify-self: unset;
  background-color: none;
}

.blockHero {
  --titleFontSize: var(--xsTitleFontSize, 3rem);
  --captionFontSize: var(--xsCaptionFontSize, 1.2rem);
  --textFontSize: var(--xsTextFontSize, 1rem);
  --alignSelf: var(--xsAlignSelf, center);
  --justifyContent: var(--xsJustifyContent, center);
  --maxWidth: var(--xsMaxWidth, 85vw);
  justify-content: var(--justifyContent);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockHero__content-title {
  font-family: var(--titleFontFamily);
  font-size: var(--titleFontSize);
  color: var(--titleColor, var(--bt--titles-color, var(--bt--titles-color, var(--bt--primary))));
}
.blockHero__caption {
  font-family: var(--captionFontFamily);
  font-size: var(--captionFontSize);
  color: var(--captionColor, var(--bt--body-color, var(--bt--secondary)));
}
.blockHero__text {
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: var(--textFontSize);
  color: var(--textColor, var(--bt--body-color));
}
.blockHero__buttons {
  justify-content: var(--textAlign);
}
.blockHero__button {
  --bt--btn-bg: var(--buttonColor, var(--bt--primary-500));
  --bt--btn-color: var(--buttonLinkColor, white);
  --bt--btn-border-color: var(--buttonColor, var(--bt--primary-500));
  --bt--btn-hover-bg: var(--buttonColor, var(--bt--primary-500));
  --bt--btn-hover-color: var(--buttonLinkColor, white);
  --bt--btn-hover-border-color: var(--buttonLinkColor, white);
  padding-right: 0px;
  padding-left: var(--btnPaddingLeft, 0px);
}
.blockHero__button a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 1rem;
  padding-left: var(--buttonIcon, 1rem);
  color: var(--buttonLinkColor, white);
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: var(--textFontSize);
}
.blockHero__button-icon {
  z-index: 1;
}
.blockHero__button-icon svg {
  color: var(--buttonLinkColor, white);
}
.blockHero__button-secondary {
  --bt--btn-bg: var(--buttonSecondaryColor, var(--bt--secondary-500));
  --bt--btn-color: var(--buttonSecondaryLinkColor, white);
  --bt--btn-border-color: var(--buttonSecondaryColor, var(--bt--secondary-500));
  --bt--btn-hover-bg: var(--buttonSecondaryColor, var(--bt--secondary-500));
  --bt--btn-hover-color: var(--buttonSecondaryLinkColor, white);
  --bt--btn-hover-border-color: var(--buttonSecondaryLinkColor, white);
  padding-right: 0px;
  padding-left: var(--btnSPaddingLeft, 0px);
}
.blockHero__button-secondary a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 1rem;
  padding-left: var(--buttonSecondaryIcon, 1rem);
  color: var(--buttonSecondaryLinkColor, white);
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: var(--textFontSize);
}
.blockHero__button-secondary-icon {
  z-index: 1;
}
.blockHero__button-secondary-icon svg {
  color: var(--buttonSecondaryLinkColor, white);
}
.blockHero__link {
  z-index: 2;
}
