.block.blockHighlightedText {
  background-color: var(--backgroundColor, transparent);
}

.blockHighlightedText {
  --textFontSize: var(--xsTextFontSize, 1rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockHighlightedText__highlighted-text {
  font-family: var(--textFontFamily, var(--bt--body-font-family));
  font-size: var(--textFontSize);
}
.blockHighlightedText__highlighted-text > mark {
  background-color: var(--highlightedColor, var(--bt--accent-500));
  color: var(--textColor, var(--bt--body-color));
}
