.block.menuNormal {
  align-self: var(--alignSelf, auto);
  background-color: var(--backgroundColor, transparent);
}

h2.menuNormal__menu-title {
  margin-bottom: 0px;
}

.menuNormal {
  --titleFontSize: var(--xsTitleFontSize, 1.25rem);
  --itemFontSize: var(--xsItemFontSize, 1rem);
  --itemPaddingLeft: var(--xsItemPaddingLeft, 1rem);
  --itemPaddingTop: var(--xsItemPaddingTop, .25rem);
  --itemPaddingRight: var(--xsItemPaddingRight, 1rem);
  --itemPaddingBottom: var(--xsItemPaddingBottom, .25rem);
  --maxWidth: var(--xsMaxWidth, 90vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
  max-width: var(--maxWidth);
}
.menuNormal__menu-title {
  font-family: var(--titleFontFamily, var(--bt--body-font-family));
  font-size: var(--titleFontSize);
  color: var(--titleColor, var(--bt--titles-color));
}
.menuNormal__nav {
  gap: var(--gap, 0px);
  max-width: var(--maxWidth);
  justify-content: var(--justifySelf);
}
.menuNormal .menuNormal__link {
  display: block;
  padding-left: var(--itemPaddingLeft);
  padding-top: var(--itemPaddingTop);
  padding-right: var(--itemPaddingRight);
  padding-bottom: var(--itemPaddingBottom);
  font-family: var(--itemFontFamily, var(--bt--body-font-family));
  font-size: var(--itemFontSize);
  color: var(--itemColor, var(--bt--primary));
}
.menuNormal .menuNormal__link:hover,
.menuNormal .menuNormal__link.active {
  color: var(--itemColorHover, var(--bt--secondary));
}
.menuNormal__item {
  background-color: var(--itemBackgroundColor, transparent);
  align-self: var(--alignSelf);
  justify-self: var(--justifySelf);
}
.menuNormal__item:hover {
  background-color: var(--itemBackgroundColorHover, transparent);
}
