.block.blockArticle--teaser-image {
  --paddingLeft: var(--xsPaddingLeft, 0px);
  --paddingTop: var(--xsPaddingTop, 0px);
  --paddingRight: var(--xsPaddingRight, 0px);
  --paddingBottom: var(--xsPaddingBottom, 0px);
  border: solid 1px var(--bt--body-color);
  background-color: var(--backgrounColor, var(--bt--gray-200));
}
