{% set styles = configuration.block_style %}
{% set style_vars = [] %}

{% if styles.background_color_select != 'default' and styles.background_color_select != 'customColor' %}
  {% if styles.background_color_opacity == '1.0' %}
    {% set style_vars = style_vars|merge(['--backgroundColor: var(--bt--' ~ styles.background_color_select ~ ')']) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--backgroundColor: rgb(var(--bt--' ~ styles.background_color_select ~ '-rgb), ' ~ styles.background_color_opacity ~ ')']) %}
  {% endif %}  
{% endif %}

{% if styles.background_color_select == 'customColor' %}
  {% if styles.background_color_custom_opacity == 'FF' %}
    {% set style_vars = style_vars|merge(['--backgroundColor: ' ~ styles.background_color_custom]) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--backgroundColor: ' ~ styles.background_color_custom ~ styles.background_color_custom_opacity ]) %}
  {% endif %}  
{% endif %}

{%
  set style_vars = style_vars|merge([
    styles.animation_option == TRUE  and styles.animation_duration ? '--animationDuration: ' ~ styles.animation_duration : '',
    styles.animation_option == TRUE  and styles.animation_delay ? '--animationDelay: ' ~ styles.animation_delay : '',
    styles.animation_option == TRUE  and styles.animation_count ? '--animationCount: ' ~ styles.animation_count : '',
    styles.animation_option == TRUE  and styles.animation_function and styles.animation_function != 'default' ? '--animationFunction: ' ~ styles.animation_function : '',
    styles.animation_option == TRUE  and styles.animation_fill and styles.animation_fill != 'default' ? '--animationFill: ' ~ styles.animation_fill : '',

    styles.xs_max_width != '' ? '--xsMaxWidth: ' ~ styles.xs_max_width : '',
    styles.sm_max_width != '' ? '--smMaxWidth: ' ~ styles.sm_max_width : '',
    styles.md_max_width != '' ? '--mdMaxWidth: ' ~ styles.md_max_width : '',
    styles.lg_max_width != '' ? '--lgMaxWidth: ' ~ styles.lg_max_width : '',
    styles.xl_max_width != '' ? '--xlMaxWidth: ' ~ styles.xl_max_width : '',
    styles.xxl_max_width != '' ? '--xxlMaxWidth: ' ~ styles.xxl_max_width : '',

    styles.xs_margin_left != '' ? '--xsMarginLeft: ' ~ styles.xs_margin_left : '',
    styles.xs_margin_top != '' ? '--xsMarginTop: ' ~ styles.xs_margin_top : '',
    styles.xs_margin_right != '' ? '--xsMarginRight: ' ~ styles.xs_margin_right : '',
    styles.xs_margin_bottom != '' ? '--xsMarginBottom: ' ~ styles.xs_margin_bottom : '',
    styles.sm_margin_left != '' ? '--smMarginLeft: ' ~ styles.sm_margin_left : '',
    styles.sm_margin_top != '' ? '--smMarginTop: ' ~ styles.sm_margin_top : '',
    styles.sm_margin_right != '' ? '--smMarginRight: ' ~ styles.sm_margin_right : '',
    styles.sm_margin_bottom != '' ? '--smMarginBottom: ' ~ styles.sm_margin_bottom : '',
    styles.md_margin_left != '' ? '--mdMarginLeft: ' ~ styles.md_margin_left : '',
    styles.md_margin_top != '' ? '--mdMarginTop: ' ~ styles.md_margin_top : '',
    styles.md_margin_right != '' ? '--mdMarginRight: ' ~ styles.md_margin_right : '',
    styles.md_margin_bottom != '' ? '--mdMarginBottom: ' ~ styles.md_margin_bottom : '', 
    styles.lg_margin_left != '' ? '--lgMarginLeft: ' ~ styles.lg_margin_left : '',
    styles.lg_margin_top != '' ? '--lgMarginTop: ' ~ styles.lg_margin_top : '',
    styles.lg_margin_right != '' ? '--lgMarginRight: ' ~ styles.lg_margin_right : '',
    styles.lg_margin_bottom != '' ? '--lgMarginBottom: ' ~ styles.lg_margin_bottom : '',
    styles.xl_margin_left != '' ? '--xlMarginLeft: ' ~ styles.xl_margin_left : '',
    styles.xl_margin_top != '' ? '--xlMarginTop: ' ~ styles.xl_margin_top : '',
    styles.xl_margin_right != '' ? '--xlMarginRight: ' ~ styles.xl_margin_right : '',
    styles.xl_margin_bottom != '' ? '--xlMarginBottom: ' ~ styles.xl_margin_bottom : '',
    styles.xxl_margin_left != '' ? '--xxlMarginLeft: ' ~ styles.xxl_margin_left : '',
    styles.xxl_margin_top != '' ? '--xxlMarginTop: ' ~ styles.xxl_margin_top : '',
    styles.xxl_margin_right != '' ? '--xxlMarginRight: ' ~ styles.xxl_margin_right : '',
    styles.xxl_margin_bottom != '' ? '--xxlMarginBottom: ' ~ styles.xxl_margin_bottom : '',

    styles.xs_padding_left != '' ? '--xsPaddingLeft: ' ~ styles.xs_padding_left : '',
    styles.xs_padding_top != '' ? '--xsPaddingTop: ' ~ styles.xs_padding_top : '',
    styles.xs_padding_right != '' ? '--xsPaddingRight: ' ~ styles.xs_padding_right : '',
    styles.xs_padding_bottom != '' ? '--xsPaddingBottom: ' ~ styles.xs_padding_bottom : '',
    styles.sm_padding_left != '' ? '--smPaddingLeft: ' ~ styles.sm_padding_left : '',
    styles.sm_padding_top != '' ? '--smPaddingTop: ' ~ styles.sm_padding_top : '',
    styles.sm_padding_right != '' ? '--smPaddingRight: ' ~ styles.sm_padding_right : '',
    styles.sm_padding_bottom != '' ? '--smPaddingBottom: ' ~ styles.sm_padding_bottom : '',
    styles.md_padding_left != '' ? '--mdPaddingLeft: ' ~ styles.md_padding_left : '',
    styles.md_padding_top != '' ? '--mdPaddingTop: ' ~ styles.md_padding_top : '',
    styles.md_padding_right != '' ? '--mdPaddingRight: ' ~ styles.md_padding_right : '',
    styles.md_padding_bottom != '' ? '--mdPaddingBottom: ' ~ styles.md_padding_bottom : '', 
    styles.lg_padding_left != '' ? '--lgPaddingLeft: ' ~ styles.lg_padding_left : '',
    styles.lg_padding_top != '' ? '--lgPaddingTop: ' ~ styles.lg_padding_top : '',
    styles.lg_padding_right != '' ? '--lgPaddingRight: ' ~ styles.lg_padding_right : '',
    styles.lg_padding_bottom != '' ? '--lgPaddingBottom: ' ~ styles.lg_padding_bottom : '',
    styles.xl_padding_left != '' ? '--xlPaddingLeft: ' ~ styles.xl_padding_left : '',
    styles.xl_padding_top != '' ? '--xlPaddingTop: ' ~ styles.xl_padding_top : '',
    styles.xl_padding_right != '' ? '--xlPaddingRight: ' ~ styles.xl_padding_right : '',
    styles.xl_padding_bottom != '' ? '--xlPaddingBottom: ' ~ styles.xl_padding_bottom : '',
    styles.xxl_padding_left != '' ? '--xxlPaddingLeft: ' ~ styles.xxl_padding_left : '',
    styles.xxl_padding_top != '' ? '--xxlPaddingTop: ' ~ styles.xxl_padding_top : '',
    styles.xxl_padding_right != '' ? '--xxlPaddingRight: ' ~ styles.xxl_padding_right : '',
    styles.xxl_padding_bottom != '' ? '--xxlPaddingBottom: ' ~ styles.xxl_padding_bottom : '',

    styles.xs_align != 'default' ? '--xsAlignSelf: ' ~ styles.xs_align : '',
    styles.sm_align != 'default' ? '--smAlignSelf: ' ~ styles.sm_align : '',
    styles.md_align != 'default' ? '--mdAlignSelf: ' ~ styles.md_align : '',
    styles.lg_align != 'default' ? '--lgAlignSelf: ' ~ styles.lg_align : '',
    styles.xl_align != 'default' ? '--xlAlignSelf: ' ~ styles.xl_align : '',
    styles.xxl_align != 'default' ? '--xxlAlignSelf: ' ~ styles.xxl_align : '',

    styles.xs_justify != 'default' ? '--xsJustifySelf: ' ~ styles.xs_justify : '',
    styles.sm_justify != 'default' ? '--smJustifySelf: ' ~ styles.sm_justify : '',
    styles.md_justify != 'default' ? '--mdJustifySelf: ' ~ styles.md_justify : '',
    styles.lg_justify != 'default' ? '--lgJustifySelf: ' ~ styles.lg_justify : '',
    styles.xl_justify != 'default' ? '--xlJustifySelf: ' ~ styles.xl_justify : '',
    styles.xxl_justify != 'default' ? '--xxlJustifySelf: ' ~ styles.xxl_justify : '',

    styles.xs_text_align != 'default' ? '--xsTextAlign: ' ~ styles.xs_text_align : '',
    styles.sm_text_align != 'default' ? '--smTextAlign: ' ~ styles.sm_text_align : '',
    styles.md_text_align != 'default' ? '--mdTextAlign: ' ~ styles.md_text_align : '',
    styles.lg_text_align != 'default' ? '--lgTextAlign: ' ~ styles.lg_text_align : '',
    styles.xl_text_align != 'default' ? '--xlTextAlign: ' ~ styles.xl_text_align : '',
    styles.xxl_text_align != 'default' ? '--xxlTextAlign: ' ~ styles.xxl_text_align : '',
  ])|remove_empty
%}

{%
  set classes = [
    'block',
    'blockArticle',
    'blockArticle--default',
  ]
%}

<div{{ attributes.setAttribute('style', style_vars|join('; ')).setAttribute('id', 'blockArticle--' ~ id ).addClass(classes) }}>
  {{ title_prefix }}
  {% if configuration.label_display %}
    <h2{{ title_attributes.addClass('blockArticle--default__block-title') }}>{{ label }}</h2>
  {% else %}
    <h2{{ title_attributes.addClass('blockArticle--default__block-title', 'visually-hidden') }}>{{ configuration.label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>