.block.menuFooter {
  --xsAlignSelf: center;
  --xsMaxWidth: max-content;
}

.menuFooter {
  --xsTitleFontSize: 1.2rem;
  --xsItemFontSize: 0.75rem;
  --xsItemPaddingLeft: 1rem;
  --xsItemPaddingTop: .25rem;
  --xsItemPaddingRight: 1rem;
  --xsItemPaddingBottom: .25rem;
  --titleFontSize: var(--xsTitleFontSize);
  --itemFontSize: var(--xsItemFontSize);
  --itemPaddingLeft: var(--xsItemPaddingLeft);
  --itemPaddingTop: var(--xsItemPaddingTop);
  --itemPaddingRight: var(--xsItemPaddingRight);
  --itemPaddingBottom: var(--xsItemPaddingBottom);
  --maxWidth: var(--xsMaxWidth);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.menuFooter__menu-title {
  font-family: var(--titleFontFamily, var(--bt--body-font-family));
  font-size: var(--titleFontSize);
  color: var(--titleColor, var(--bt--titles-color));
}
.menuFooter__nav {
  gap: var(--gap, 0px);
  max-width: var(--maxWidth);
  justify-content: var(--justifySelf);
}
.menuFooter .menuFooter__link {
  display: block;
  padding-left: var(--itemPaddingLeft);
  padding-top: var(--itemPaddingTop);
  padding-right: var(--itemPaddingRight);
  padding-bottom: var(--itemPaddingBottom);
  font-family: var(--itemFontFamily, var(--bt--body-font-family));
  font-size: var(--itemFontSize);
  color: var(--itemColor, var(--bt--link-color, var(--bt--link-color)));
}
.menuFooter .menuFooter__link:hover,
.menuFooter .menuFooter__link.active {
  color: var(--itemColorHover, var(--bt--link-hover-color, var(--bt--link-hover-color)));
}
.menuFooter__item {
  background-color: var(--itemBackgroundColor, transparent);
  align-self: var(--alignSelf);
  justify-self: var(--justifySelf);
}
.menuFooter__item:hover {
  background-color: var(--itemBackgroundColorHover, transparent);
}
