.form-control {
  color: var(--bt--body-color);
  background-color: var(--bt--gray-050);
}
.form-control:focus {
  color: var(--bt--body-color);
  background-color: var(--bt--gray-100);
  border-color: var(--bt--border-color);
  box-shadow: 0 0 0 0.125rem var(--bt--border-color);
}

.form-actions {
  margin: 1rem 0;
}

.form-label {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 1rem;
}
.form-label.option {
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 0;
}

.field-label > .label {
  color: black;
  text-transform: capitalize;
  letter-spacing: normal;
  font-size: 1.2rem;
}

.description {
  font-size: 1rem;
}

.form-select {
  width: -moz-max-content;
  width: max-content;
}

details {
  margin: 0.5rem 0;
}

fieldset {
  margin: 1rem 0;
}

.mediaImage--media_library__image img {
  width: 100%;
  height: 100%;
}
