.ui-dialog-off-canvas #drupal-off-canvas {
  padding: 2px !important;
}

#drupal-off-canvas .layout-builder-configure-block .form-color {
  width: 70px;
  height: 50px;
}
#drupal-off-canvas .layout-builder-configure-block .form-control {
  max-width: 320px;
}
#drupal-off-canvas .layout-builder-configure-block fieldset {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--bt--gray-800);
}
#drupal-off-canvas .layout-builder-configure-block fieldset fieldset {
  padding-left: 0px;
  padding-right: 0px;
}
#drupal-off-canvas .layout-builder-configure-block summary {
  margin: 0.5rem 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#drupal-off-canvas .layout-builder-configure-block details details {
  width: 100%;
}
#drupal-off-canvas .layout-builder-configure-block details, #drupal-off-canvas .layout-builder-configure-block .details-wrapper {
  margin: 0 0px;
  padding: 0 20px;
}
#drupal-off-canvas .layout-builder-configure-block details .details-wrapper {
  padding: 2px 5px;
}
#drupal-off-canvas .layout-builder-configure-block details, #drupal-off-canvas .layout-builder-configure-block summary, #drupal-off-canvas .layout-builder-configure-block .ui-dialog-content {
  background-color: var(--bt--gray-900);
}
#drupal-off-canvas .layout-builder-configure-block details summary {
  margin: 0.5rem -20px;
}
#drupal-off-canvas .layout-builder-configure-block .details-wrapper .details-wrapper {
  background-color: var(--bt--gray-700);
}
#drupal-off-canvas .layout-builder-configure-block .details-wrapper .details-wrapper .details-wrapper {
  background-color: var(--bt--gray-600);
}
#drupal-off-canvas .layout-builder-configure-block summary.card-header {
  margin-bottom: 0px;
}
#drupal-off-canvas .layout-builder-configure-block .description {
  font-size: 0.75rem;
  max-width: 320px;
  margin-left: 5px;
}
#drupal-off-canvas .layout-builder-configure-block .form-item.js-form-item {
  margin-bottom: 0.5rem;
}
#drupal-off-canvas .layout-builder-configure-block .text-full.js-text-full {
  font-size: 0.75rem;
}
#drupal-off-canvas .layout-builder-configure-block .form-wrapper.js-form-wrapper {
  margin-bottom: 0.5rem;
}
#drupal-off-canvas .layout-builder-configure-block .ui-dialog.ui-dialog-off-canvas .ui-widget-content.ui-dialog-content {
  background: var(--bt--gray-900);
}
#drupal-off-canvas .layout-builder-configure-block .field--type-svg-icon {
  border: var(--bt--card-border-width) solid var(--bt--card-border-color);
  padding: 1rem;
}
#drupal-off-canvas .layout-builder-configure-block .details-wrapper.card-body {
  margin: 0 -20px;
}
#drupal-off-canvas .layout-builder-configure-block .field-multiple-table.table {
  color: white;
}

.btn-close, .ui-dialog .ui-dialog-titlebar-close {
  background: white url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

#field_bt_img-media-library-wrapper-settings-block_form > div:nth-child(2) {
  padding-top: 0;
}

#field_bt_img-media-library-wrapper-settings-block_form > legend:nth-child(1) {
  margin-bottom: 0.25rem;
  padding-bottom: 0px;
  margin-top: 1.5rem;
  padding-left: 0px;
}

tr.draggable:nth-child(1) > td:nth-child(2) {
  color: white;
}

.form-item-third-party-settings-bt-cbc-title-font-size-xs-font-size,
.form-item-third-party-settings-bt-cbc-title-font-size-sm-font-size,
.form-item-third-party-settings-bt-cbc-title-font-size-md-font-size,
.form-item-third-party-settings-bt-cbc-title-font-size-lg-font-size,
.form-item-third-party-settings-bt-cbc-title-font-size-xl-font-size,
.form-item-third-party-settings-bt-cbc-title-font-size-xxl-font-size,
.form-item-third-party-settings-bt-cbc-caption-font-size-xs-font-size,
.form-item-third-party-settings-bt-cbc-caption-font-size-sm-font-size,
.form-item-third-party-settings-bt-cbc-caption-font-size-md-font-size,
.form-item-third-party-settings-bt-cbc-caption-font-size-lg-font-size,
.form-item-third-party-settings-bt-cbc-caption-font-size-xl-font-size,
.form-item-third-party-settings-bt-cbc-caption-font-size-xxl-font-size,
.form-item-third-party-settings-bt-cbc-text-font-size-xs-font-size,
.form-item-third-party-settings-bt-cbc-text-font-size-sm-font-size,
.form-item-third-party-settings-bt-cbc-text-font-size-md-font-size,
.form-item-third-party-settings-bt-cbc-text-font-size-lg-font-size,
.form-item-third-party-settings-bt-cbc-text-font-size-xl-font-size,
.form-item-third-party-settings-bt-cbc-text-font-size-xxl-font-size,
.form-item-settings-admin-label,
.form-item-settings-label,
.form-item-settings-label-display,
.js-form-type-language-select,
.fieldset-legend,
.js-form-type-textfield,
.js-form-type-select,
.js-form-type-color,
.js-form-type-checkbox,
.js-form-item-third-party-settings-bt-cbc-title-color-select,
.js-form-item-third-party-settings-bt-cbc-title-color-custom,
.js-form-item-third-party-settings-bt-cbc-title-font-family,
.js-form-item-third-party-settings-bt-cbc-caption-color-select,
.js-form-item-third-party-settings-bt-cbc-caption-color-custom,
.js-form-item-third-party-settings-bt-cbc-caption-font-family,
.js-form-item-third-party-settings-bt-cbc-text-color-select,
.js-form-item-third-party-settings-bt-cbc-text-color-custom,
.js-form-item-third-party-settings-bt-cbc-text-font-family {
  margin-left: 15px;
}

.js-form-item-settings-block-form-field-bt-link-double-0-title,
.js-form-item-settings-block-form-field-bt-link-double-1-title {
  margin-left: 0px;
}

#drupal-off-canvas .layout-builder-configure-block .js-form-item-settings-block-form-field-bt-link-double-0-uri > .ui-autocomplete-input,
#drupal-off-canvas .layout-builder-configure-block .js-form-item-settings-block-form-field-bt-link-double-1-uri > .ui-autocomplete-input,
#drupal-off-canvas .layout-builder-configure-block .js-form-item-settings-block-form-field-bt-link-double-0-title > .form-control,
#drupal-off-canvas .layout-builder-configure-block .js-form-item-settings-block-form-field-bt-link-double-1-title > .form-control {
  max-width: 260px;
}

.field--name-field-bt-link-double,
.field--name-field-bt-button-icon,
.field--name-field-bt-button-secondary-icon {
  background-color: var(--bt--gray-700);
}

.js-form-managed-file.form-managed-file {
  max-width: 312px;
}
