{#
/**
 * @file
 * Theme override for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - summary_attributes: A list of HTML attributes for the summary element.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 */
#}
{{ attach_library('camaleon/bootstrap_card') }}

{% include "@Components/forms/details.twig" with {
  'attributes': attributes,
  'errors': errors,
  'title': title,
  'summary_attributes': summary_attributes,
  'description': description,
  'children': children,
  'value': value,
  } 
%}
