.block.blockImagesGallery {
  --maxWidth: var(--xsMaxWidth, 95vw);
  --alignSelf: var(--xsAlignSelf, center);
  background-color: var(--backgroundColor, transparent);
}

.blockImagesGallery {
  --maxWidth: var(--maxWidth);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
