.blockText--default {
  max-width: var(--maxWidth);
}
.blockText--default__content-title {
  margin-top: var(--captionFontSize);
  margin-bottom: 0;
}
.blockText--default__caption {
  padding-bottom: var(--captionFontSize);
}
.blockText--default__text {
  margin-bottom: var(--captionFontSize);
}
.blockText--default__buttons {
  margin-bottom: var(--captionFontSize);
}
