.spinner-grow,
.spinner-border {
  display: inline-block;
  width: var(--bt--spinner-width);
  height: var(--bt--spinner-height);
  vertical-align: var(--bt--spinner-vertical-align);
  border-radius: 50%;
  animation: var(--bt--spinner-animation-speed) linear infinite var(--bt--spinner-animation-name);
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
  }
}
.spinner-border {
  --bt--spinner-width: 2rem;
  --bt--spinner-height: 2rem;
  --bt--spinner-vertical-align: -0.125em;
  --bt--spinner-border-width: 0.25em;
  --bt--spinner-animation-speed: 0.75s;
  --bt--spinner-animation-name: spinner-border;
  border: var(--bt--spinner-border-width) solid currentcolor;
  border-right-color: transparent;
}

.spinner-border-sm {
  --bt--spinner-width: 1rem;
  --bt--spinner-height: 1rem;
  --bt--spinner-border-width: 0.2em;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}
.spinner-grow {
  --bt--spinner-width: 2rem;
  --bt--spinner-height: 2rem;
  --bt--spinner-vertical-align: -0.125em;
  --bt--spinner-animation-speed: 0.75s;
  --bt--spinner-animation-name: spinner-grow;
  background-color: currentcolor;
  opacity: 0;
}

.spinner-grow-sm {
  --bt--spinner-width: 1rem;
  --bt--spinner-height: 1rem;
}

@media (prefers-reduced-motion: reduce) {
  .spinner-border,
.spinner-grow {
    --bt--spinner-animation-speed: 1.5s;
  }
}
