.regionTop,
.regionPreHeader,
.regionHeader,
.regionPrimaryMenu,
.regionSecondaryMenu,
.regionBreadcrumbs,
.regionHighlighted,
.regionHelp,
.regionFooter,
.regionBottom {
  display: flex;
  background-color: var(--backgroundColor);
  justify-content: var(--justifyContent, center);
  align-items: var(--alignItems, center);
  height: var(--height, -moz-min-content);
  height: var(--height, min-content);
  width: 100%;
  transition: background-color 250ms;
}

.regionNavbar {
  display: flex;
  background-color: var(--backgroundColor);
  justify-content: var(--justifyContent, center);
  align-items: var(--alignItems, center);
  min-height: var(--height, -moz-min-content);
  min-height: var(--height, min-content);
  width: 100%;
  transition: background-color 250ms;
}
.regionNavbar .navbarTogglerIcon__svg {
  background-color: var(--backgroundColor);
}

.regionSidebarFirst,
.regionSidebarSecond,
.regionContent {
  background-color: var(--backgroundColor, var(--bt--body-bg));
}

.regionContent {
  display: grid;
  margin: 0 1rem;
}

.regionContent.regionContent--layout {
  margin: 0 0;
}

@media screen and (max-width: 768px) {
  .regionFooter {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .regionTop,
.regionPreHeader,
.regionNavbar,
.regionHeader,
.regionPrimaryMenu,
.regionSecondaryMenu,
.regionBreadcrumbs,
.regionHighlighted,
.regionHelp,
.regionFooter,
.regionBottom {
    width: var(--width, 100%);
    margin: 0 auto;
    padding: 0 var(--paddingX, 0);
  }

  .regionContent {
    margin: 0 10%;
  }
}
