.alert {
  --bt--alert-bg: transparent;
  --bt--alert-padding-x: 1rem;
  --bt--alert-padding-y: 1rem;
  --bt--alert-margin-bottom: 1rem;
  --bt--alert-color: inherit;
  --bt--alert-border-color: transparent;
  --bt--alert-border: 1px solid var(--bt--alert-border-color);
  --bt--alert-border-radius: 0.375rem;
  position: relative;
  padding: var(--bt--alert-padding-y) var(--bt--alert-padding-x);
  margin-bottom: var(--bt--alert-margin-bottom);
  color: var(--bt--alert-color);
  background-color: var(--bt--alert-bg);
  border: var(--bt--alert-border);
  border-radius: var(--bt--alert-border-radius);
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.alert-primary {
  --bt--alert-color: #171717;
  --bt--alert-bg: #d4d4d4;
  --bt--alert-border-color: #bebebe;
}
.alert-primary .alert-link {
  color: #121212;
}

.alert-secondary {
  --bt--alert-color: #8f2017;
  --bt--alert-bg: #fcd7d4;
  --bt--alert-border-color: #fac2be;
}
.alert-secondary .alert-link {
  color: #721a12;
}

.alert-accent {
  --bt--alert-color: #975f00;
  --bt--alert-bg: #feeccc;
  --bt--alert-border-color: #fee2b3;
}
.alert-accent .alert-link {
  color: #794c00;
}

.alert-success {
  --bt--alert-color: #0f5132;
  --bt--alert-bg: #d1e7dd;
  --bt--alert-border-color: #badbcc;
}
.alert-success .alert-link {
  color: #0c4128;
}

.alert-info {
  --bt--alert-color: #084298;
  --bt--alert-bg: #cfe2ff;
  --bt--alert-border-color: #b6d4fe;
}
.alert-info .alert-link {
  color: #06357a;
}

.alert-warning {
  --bt--alert-color: #984c0c;
  --bt--alert-bg: #ffe5d0;
  --bt--alert-border-color: #fed8b9;
}
.alert-warning .alert-link {
  color: #7a3d0a;
}

.alert-danger {
  --bt--alert-color: #842029;
  --bt--alert-bg: #f8d7da;
  --bt--alert-border-color: #f5c2c7;
}
.alert-danger .alert-link {
  color: #6a1a21;
}

.alert-light {
  --bt--alert-color: #636464;
  --bt--alert-bg: #fefefe;
  --bt--alert-border-color: #fdfdfe;
}
.alert-light .alert-link {
  color: #4f5050;
}

.alert-dark {
  --bt--alert-color: #141619;
  --bt--alert-bg: #d3d3d4;
  --bt--alert-border-color: #bcbebf;
}
.alert-dark .alert-link {
  color: #101214;
}
