.block.blockBasic {
  background-color: var(--backgroundColor, transparent);
}

.blockBasic {
  --maxWidth: var(--xsMaxWidth);
  --textColor: var(--bt--body-color);
  max-width: var(--maxWidth);
  display: flex;
  flex-direction: column;
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
  color: var(--textColor);
}
