.block.blockImage {
  --paddingLeft: var(--xsPaddingLeft, 0px);
  --paddingTop: var(--xsPaddingTop, 0px);
  --paddingRight: var(--xsPaddingRight, 0px);
  --paddingBottom: var(--xsPaddingBottom, 0px);
  --alignSelf: var(--xsAlignSelf, center);
  background-color: var(--backgroundColor, transparent);
}

.blockImage {
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
